[2015-01-21 10:17] clive-g-brown opened #1 "Enjoying using this"
looking forwards to the MDLSTM version

[2015-02-05 11:16] clive-g-brown opened #2 "extras.h"
is in the includes, scons doesn't find it.

[2015-02-05 11:17] clive-g-brown opened #3 "test file for ctc."
would be good to have one. the files generated seem to be only for seq.

[2015-03-07 18:45] tmbdev commented on #3
I'll add more samples and documentation with the next couple of updates.

[2015-03-07 18:47] clive-g-brown commented on #3
Great thanks.

Sent from my iPad

On 7 Mar 2015, at 18:45, Tom <notifications@github.com<mailto:notifications@github.com>> wrote:

I'll add more samples and documentation with the next couple of updates.

—
Reply to this email directly or view it on GitHubhttps://github.com/tmbdev/clstm/issues/3#issuecomment-77703375.

[2015-04-10 13:12] clive-g-brown opened #5 "compile"
I used be able to run setup.py fine, in the latest two version i get swig errors (setting the NPY version doesn't fix it).

warning: "Using deprecated NumPy API, disable it by "          "#defining NPY_NO_DEPRECATED_API NPY_1_7_API_VERSION" [-W#warnings]
#warning "Using deprecated NumPy API, disable it by " \
 ^
clstm_wrap.cpp:5906:15: error: no member named 'train' in 'ocropus::INetwork'
      (a

[2015-04-10 16:21] tmbdev commented on #5
Thanks. The API changed and I haven't updated the Python bindings to reflect this. I'll try to do it soon (or you could supply a patch; it's pretty straightforward).

[2015-04-10 18:21] clive-g-brown commented on #5
Ok thanks. I'd need to figure it out first, might be better to wait for the wrapper update.

C.

Sent from my iPad

On 10 Apr 2015, at 17:21, Tom <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks. The API changed and I haven't updated the Python bindings to reflect this. I'll try to do it soon (or you could supply a patch; it's pretty straightforward).

—
Reply to this ema

[2015-04-23 22:16] tmbdev commented on #5
I've fixed the Python bindings and added some iPython notebooks illustrating both command line usage and Python bindings.

[2015-04-23 22:16] #5 closed

[2015-04-23 22:16] tmbdev commented on #3
There are test files now, plus iPython notebooks illustrating how to write HDF5 training files.

[2015-04-23 22:16] #3 closed

[2015-04-23 22:17] tmbdev commented on #2
Fixed.

[2015-04-23 22:17] #2 closed

[2015-04-27 15:55] clive-g-brown commented on #5
thanks

I compiled on Mac, a few small changes to the build. the only error i got was :

extras.cchttp://extras.cc:811:21: error: use of undeclared identifier 'environ'
        char **ep = environ;

ive edited around it for now.

c.
On 23 Apr 2015, at 23:16, Tom <notifications@github.com<mailto:notifications@github.com>> wrote:

I've fixed the Python bindings and added some iPython notebooks illus

[2015-06-11 16:49] TomJasuroae opened #12 "Question about scons compile"
I meet a problem when I am trying to compile this code. I use scons in command. But it shows this error.

[code]

But when I add a comment on clstm.h 389, that comment the ```using std::map<std::string, String>::map; ```. It shows another problem.

[code]

Can anyone give me a help? Thanks

[2015-06-11 16:51] TomJasuroae commented on #12
My second question is that, is there any speed comparison between clstm and python version training? I find the document says there is difference between this two kinds of tools, what' the influence for next predict stage?

What's more, is there any plan for GPU version of this training? GPU seems much faster than now way of computation. Thanks

[2015-06-11 16:54] tmbdev commented on #12
I'm not sure where your compile error comes from. Maybe you're using an old version of gcc? It's helpful to report compiler and platform versions.

[2015-06-11 16:57] tmbdev commented on #12
The CLSTM version is probably 2-4x as fast as the Python version.

Error rates are nearly the same on UW3 (0.47% vs 0.50%), and it's not clear that that is significant.

For this code, the plan is to use Eigen's multicore and GPU support when that comes out. However, GPU versions for 1D LSTM doesn't help that much because there is so much sequential dependency during processing.

[2015-06-11 23:30] TomJasuroae commented on #12
@tmbdev Thanks, my system in Ubuntu 12.04

[code]

[2015-06-12 05:00] tmbdev commented on #12
Your problem is likely an old compiler. The current compiler version is gcc 5.1, and the one used in Ubuntu 15.04 is 4.9.2. Since CLSTM uses C++11, the C++11 support in 12.04 is likely not very good.

[2015-06-12 05:03] ZhilunX commented on #12
@tmbdev,  I update my gcc and g++ to 5.0. The score is success. Thanks for your help :)

[2015-06-12 05:53] #12 closed

[2015-06-12 11:15] apbard opened #17 "deprecation of genericLSTM"
I have seen that in the last version genericLSTM has been "softly" deprecated. Could you please explain me the reason why this choice has been made?

[2015-06-12 16:00] tmbdev commented on #17
I've run a lot of benchmarks that have shown that (1) peephole optimizations don't help (and usually hurt), and (2) any other choice of non-linearity other than the default one performs considerably worse.

I'll publish that as an Arxiv tech report soon.

[2015-06-14 00:49] TomJasuroae opened #18 "Task for offline handwriting"
@tmbdev I have a question about is this clstm suitable for offline English handwriting. I am newer to this area. I have some questions for discussion.

1. Feature extraction. Deep learning, such as CNN, which can extract feature map from raw images. I don't know what is the feature extraction method in clstm. Can I replace this feature input part by Deep learning? For example, sliding window from

[2015-06-14 16:34] tmbdev commented on #18
(1) There is no feature extraction. There has been a lot of working on using DNNs as preprocessing for LSTMs. For OCR, we haven't observed any improvements. For other applications, you have to try. Some people swear by it. There is text line normalization for OCR, and that turns out to be very important.

(2) The "bidi2" network gives you a two layer network. Look in clstm_prefab.cc to see how to

[2015-06-14 23:33] TomJasuroae commented on #18
Thanks, @tmbdev , I have already finished some experiments, such as more complex network and normalization. The result is indeed as your said, simple and good norm dataset has better performance. Would you like to share your experience on text line normalization? For example, methods, papers? Thanks.

[2015-07-02 09:05] BestSonny commented on #17
Is the arxiv link of your tech report available now?

[2015-07-09 10:46] BestSonny opened #22 "proto for the python version"
Is there anybody who has written protobuf code for the python wrapper?

[2015-07-09 18:26] mittagessen commented on #22
Have a look at [this tree](https://github.com/mittagessen/clstm/tree/python_bindings). It's untested as I haven't gotten around to convert images to Sequence objects yet but loading a serialized network returns an INetwork instance looking reasonable.

[2015-07-10 03:12] BestSonny commented on #22
Thank you for that.This would be a lot of helps.

[2015-07-21 01:50] Epsirom opened #24 "How to get confidence values?"
Hi @tmbdev , I did some experiments about offline handwriting recognition with clstm. The network can produce one sequential result by given image.

Is it possible to get confidence values of the result? For example, as shown in the image given by https://github.com/tmbdev/clstm/issues/18 , every position of the sequence has different colors for different predictions.

Are there any interfaces in

[2015-07-21 19:14] tmbdev opened #25 "wstring to u32string"
The current wstring is not entirely portable, since wchar_t is only 16 bits on Windows. Occurrences of wchar_t should be replaced with char32_t and occurrences of wstring with u32string

[2015-07-21 21:07] tmbdev commented on #24
I've added another overloading for CLSTM::predict that gives you confidence values. You can also get them from the clstmocr command line by setting conf=1

[2015-07-21 21:07] #24 closed

[2015-07-29 12:47] tobimensch opened #26 "Future / Documentation / Roadmap / Stuff of that sort"
Hi,

I was working on a GUI for scanning PDF documents and I was looking
for a way to have correct OCR under Linux and to sandwich the text into the generated PDFs.

Obviously the state of open source OCR isn't stellar, everything I tried wasn't exactly a breeze
to setup and most importantly the actual detection was quite bad for example with tesselact and
all the other known open source projects.

[2015-07-31 05:30] andyyuan78 opened #27 "install error?"
ubgpu@ubgpu:~/github/clstm$ sudo scons install
scons: Reading SConscript files ...
version daa8f08e060d6d2bc415becc32eba36c0b4de524
scons: done reading SConscript files.
scons: Building targets ...
g++ --std=c++11 -Wno-unused-result -o clstm_proto.o -c -g -O3 -finline -g -DHGVERSION=\"daa8f08e060d6d2bc415becc32eba36c0b4de524\" -DNODISPLAY=1 -DTHROW=throw -I/usr/include/eigen3 clstm_proto.cc
clstm_

[2015-08-02 00:26] #18 closed

[2015-08-03 01:47] Epsirom commented on #24
Thanks, @tmbdev

I have another question.

Can the predict interface provide top-N results?
That will be helpful for better results and finding weakness of datasets.

Thanks.

[2015-08-04 05:31] Epsirom opened #28 "How to get top-N results?"
Hi @tmbdev , thanks for your reply in https://github.com/tmbdev/clstm/issues/24, it is perfect!

I have another question and have commented in https://github.com/tmbdev/clstm/issues/24.
Here I copy the question for easier retrieval for other people.

Can the predict interface provide top-N results?
That will be helpful for better results and finding weakness of datasets.

Thanks.

[2015-08-04 07:08] edward-zhu opened #29 "What's the meaning of the argument skip?"
Hi @tmbdev,

I am trying to figure out how the CTC works in clstm and got stuck.

I'm confused when looking into the following code in `ctc.cc`.

[code]

I'm wondering what the argument `skip` means since it not in the original thesis of Graves nor in the source code of rnnlib.

Thanks!

[2015-08-05 16:00] ramazanaydin commented on #24
if you want to buy these(ocropy.com/ocropy.net/ocropy.org) domains. contact us
mail: rmzn.aydin1907@gmail.com

[2015-08-05 22:11] tmbdev commented on #29
It's the cost of skipping states at the beginning of the match. To get the same behavior as Graves' thesis, you probably should set that to a large value.

[2015-08-05 22:11] #29 closed

[2015-08-05 22:13] tmbdev commented on #28
No, the predict interface does not give you top-N. To get top-N, you'd have to implement a beam decoder or some other decoder.

I'm planning on hooking up the OpenFST library to the CLSTM library. That gives you one simple option for top-N computations (plus a lot more).

[2015-08-05 22:13] #28 closed

[2015-08-05 22:57] tmbdev commented on #27
You probably have a clstm.pb.cc file but deleted the clstm.pb.h file. The build system doesn't catch that situation because it assumes that clstm.pb.cc is the only file created from clstm.proto; the .h file just sort of rides along.

Try running "scons -c && scons && sudo scons install"

If anybody knows how to write a better self-contained "protoc" rule, please let me know.

[2015-08-05 22:58] tmbdev commented on #17
I got publication clearance, but it's not quite out yet. I'll try to push it in the next few days.

[2015-08-06 05:03] BestSonny commented on #17
Thank you!  Have you ever try to push a GPU version of LSTM since the community seems to have more interests in the RNN field?

[2015-08-06 17:27] tmbdev commented on #17
I'm planning on GPU support via Eigen;  however, that will still be a few months before the necessary dependencies are out.

[2015-08-07 17:06] adnanulhasan commented on #27
After running  scons -c && scons && sudo scons install, I'm having the following output:
scons -c && scons && sudo scons install
scons: Reading SConscript files ...
version a636e050aff866e991e0abd27d6389c17c8d0824
scons: done reading SConscript files.
scons: Cleaning targets ...
Removed clstm.o
Removed clstm.pb.cc
Removed clstm.pb.o
Removed clstm_prefab.o
Removed clstm_proto.o
Removed clstmfilter.

[2015-08-07 17:28] tmbdev commented on #27
You need to install the PNG development libraries (libpng12-dev on Ubuntu 15.04). I had left that out of the instructions.

[2015-08-07 17:28] #27 closed

[2015-08-10 13:33] andyyuan78 commented on #27
scons -c && scons && sudo scons install works

[2015-08-17 17:18] amitdo commented on #17
@BestSonny, here it is:

Benchmarking of LSTM Networks
Thomas M. Breuel

http://arxiv.org/abs/1508.02774

[2015-08-19 10:55] amitdo commented on #22
@BestSonny, I believe commit 54d8b6332f solved the issue:
 Modifications to setup and save_net/load_net to make them available from Python.

[2015-08-20 14:18] clive-g-brown opened #30 "clstm.pb.h"
is being requested by the compiler but isn't in the source tree ?

[2015-08-21 01:30] edward-zhu commented on #30
I encountered the same problem, and I compiled the `clstm.proto` manually with the following command.

[code]

[2015-08-21 01:54] tmbdev commented on #30
The problem was that the build rule only had one target, but protoc generates two. I think I have fixed that now.

[2015-08-21 01:54] #30 closed

[2015-08-21 10:00] BestSonny commented on #17
Thank you！

[2015-08-21 17:18] tmbdev commented on #26
Error rates even on degraded documents are generally below 1% character error. If you're getting worse than that on clean documents, there's probably something wrong.

To diagnose the source of the error, please provide extracted text lines as samples; you can attach them to this issue.

[2015-08-21 17:20] tmbdev commented on #26
Unfortunately, the development of ocropy and clstm is largely driven by a lot of internal project timelines and other considerations. I'll try to add some comments to the READMEs, though.

[2015-08-21 17:29] tmbdev commented on #22
Yes, sorry about that omission.

(Actually, I had misread the bug report initially, thinking that you were asking for code to read CLSTM-trained models into Python; that would also be useful, but is a lot harder.)

[2015-08-21 17:29] #22 closed

[2015-08-27 11:42] amitdo opened #31 "parameter name: 'ntrain' vs. 'maxtrain'"
'ntrain' appears in these files:
* run-cmu
* run-uw3-500
* clstmtext.cc
* clstmconv.cc
* clstmseq.cc
* clstmctc.cc

'maxtrain' appears in these files:
* clstmfiltertrain.cc
* clstmocrtrain.cc

Tom, please use either 'ntrain' or 'maxtrain' for the parameter name in **all** files.

[2015-09-09 11:54] anupamaray commented on #26
does clstm work on windows?

[2015-09-16 03:54] stevefly opened #33 "How to use CNN feature sequence as training data?"
@tmbdev I have a question about is this clstm suitable for Scene Text Recongnition. I extract feature sequence from raw images(use CNN), Now, I want use the CNN  feature sequence to train the blstm+ctcRNN，but I don't know how to create the .h5 file for training(use the CNN feature sequence). Can you provide an example?
![ss2](https://cloud.githubusercontent.com/assets/4435473/9896068/adfbe136-5c69

[2015-09-18 04:59] #31 closed

[2015-09-22 19:50] tmbdev commented on #33
You don't really have to use the HDF5 format (in fact, it's not being built by default anymore). If you want to see how the HDF5 files are being written, look in lstm-uw3-py.ipynb (an iPython Notebook).

It's probably easier for you just to use the C++ interface. If your CNN is already trained, you can just put the data into a `Sequence` object; the indexes are `sequence[timestep][feature,batch]`

[2015-09-22 19:50] #33 closed

[2015-09-23 18:35] tmbdev commented on #26
That could mean several things. Porting to MSVC++ is probably a modest amount of work. It should compile with Cygwin. I'd recommend just running Virtualbox or Docker, though.,

[2015-09-23 18:35] #26 closed

[2015-09-25 12:41] abedoyere opened #39 "Error building the Python extension"
Hi,
Building the python extension  (python setup.py build) failed  :

clstm_wrap.cpp: In function ‘PyObject* _wrap_INetwork_d_inputs_set(PyObject*, PyObject*)’:
clstm_wrap.cpp:11749:21: error: ‘struct ocropus::INetwork’ has no member named ‘d_inputs’
   if (arg1) (arg1)->d_inputs = *arg2;
                     ^
clstm_wrap.cpp: In function ‘PyObject* _wrap_INetwork_d_inputs_get(PyObject*, PyObject*

[2015-09-29 08:22] futurely opened #40 "clstm.i and clstm.h are not in sync"
[code]

[2015-09-29 08:32] futurely commented on #40
This also means `clstmimg.cc` is not used at all.
https://github.com/tmbdev/clstm/search?utf8=%E2%9C%93&q=d_inputs

[2015-09-29 08:43] futurely commented on #40
The Python wrapper can be built after deleting the `d_inputs` and `d_outputs` fields from `INetwork` in `clstm.i`. Then in IPython, running `net.backward()` outputs `Kernel died, restarting`.

[2015-09-29 08:55] futurely commented on #40
Adding `d_inputs` and `d_outputs` to the `INetwork` in both `clstm.h` and `clstm.i` still has the same problem.

[2015-09-29 09:43] futurely commented on #28
Beam search implementations:
https://github.com/amaas/stanford-ctc/search?l=cpp&q=beam&utf8=%E2%9C%93

https://github.com/search?l=cpp&q=%22beam+search%22+%22ctc%22&ref=searchresults&type=Code&utf8=%E2%9C%93

[2015-09-29 09:54] futurely commented on #17
@tmbdev , [mshadow](https://github.com/dmlc/mshadow) may be a strong alternative to Eigen. Both [cxxnet](https://github.com/dmlc/cxxnet) and [mxnet](https://github.com/dmlc/mxnet) are built upon it.

[2015-10-01 22:07] tmbdev commented on #40
Yes, I'm in the middle of converting to Eigen::Tensor. I should probably have created a branch, but I had hoped it would go a bit quicker than it has.

Use tag a588c8 for now.

[2015-10-01 22:17] tmbdev commented on #39
Yes, I'm in the middle of converting to Eigen::Tensor. I should probably have created a branch, but I had hoped it would go a bit quicker than it has.

Use tag a588c8 for now.

[2015-10-02 09:53] futurely commented on #40
The tag is the same version that caused the above errors. The backward method can't run.

[code]

[2015-10-02 20:55] tmbdev commented on #40
Let me see whether I can track down an older working version and set up the branches so that that becomes the default branch.

[2015-10-04 12:27] amitdo opened #41 "[Feature request] Add option to clstmtrainocr to load previous trained model."

[2015-10-04 12:40] amitdo commented on #41
ocropy has this feature with the 'load' parameter to  ocropus-rtrain

[2015-10-04 18:36] tmbdev commented on #40
The Python swig code has been updated; there is a small test case (test-lstm.py) now.
There is also a separate branch now for the old version with separate derivatives.

[2015-10-04 18:36] #40 closed

[2015-10-04 18:37] tmbdev commented on #39
OK, it's been fixed now.
You can also use the old "separate-derivs" branch if you depend on the old representation.

[2015-10-04 18:37] #39 closed

[2015-10-04 18:39] tmbdev commented on #17
Thanks. Looks like Eigen and mshadow have similar goals. Is there any performance data comparing the two?

[2015-10-04 18:39] #17 closed

[2015-10-06 11:50] amitdo commented on #41
I also request to implement this feature for clstmfiltertrain.
The older clstmtext program already implements this.

[2015-10-06 15:32] ghost commented on #39
Yes -> everything works fine now.
Thank you for your great work !

[2015-10-06 17:44] tmbdev commented on #41
It's pretty easy to add; could you send me a patch?

[2015-10-07 14:46] futurely commented on #17
@tmbdev , mshadow has very detailed [tutorials](https://github.com/dmlc/mshadow/tree/master/guide) and [other documentations](https://github.com/dmlc/mshadow/tree/master/doc) including [multi-GPU support](https://github.com/dmlc/mshadow/tree/master/guide/mshadow-ps) while Eigen documents [almost nothing related to GPU on its official website](http://cn.bing.com/search?q=+%22gpu%22+site%3ahttp%3a%2

[2015-10-07 20:47] amitdo commented on #41
OK. I've written the code. I will submit a pull-request soon.

[2015-10-08 12:44] amitdo opened #42 "clstmtrainocr and clstmfiltertrain tests are crashing"
with commit a6a33a8

[code]

[code]

[2015-10-09 17:40] isaomatsunami opened #43 "clstm.load() fails to parse what clstm.save()ed"
To enable resumed ocrtrain, I am trying to load *.clstm. but when I reload, parse error occurs with this message.

[libprotobuf ERROR google/protobuf/message_lite.cc:123] Can't parse message of type "clstm.NetworkProto" because it is missing required fields: kind, ninput, noutput
libc++abi.dylib: terminating

These 3 fields(kind, ninput, noutput) are not saved?

[2015-10-09 21:30] tmbdev commented on #43
It should be working, but the Master branch is currently undergoing rapid development.

Please use "git checkout -b separate-derivs" for the older, more stable branch.

(The parameter layout will change slightly between the old and the new models; you could probably write a conversion tool, but it's probably easier just to retrain once the new release is stable.)

[2015-10-09 21:30] #43 closed

[2015-10-09 21:37] tmbdev commented on #42
Please use the `separate-derivs` branch ("stable") for now; the `master` branch is undergoing rapid development; I've updated the README file.

[2015-10-09 21:37] #42 closed

[2015-10-09 21:52] isaomatsunami commented on #43
Thank you for quick reply.
Your code runs brilliantly, smoothly with small subset of Japanese kanji
characters, about 400 kinds that elementary school boys have to learn.
2500 kinds of characters is the target number for real-life ocr. That's why
I tried to write resume option.
Thanks again. I can learn a lot from your code.

[2015-10-12 09:54] #41 closed

[2015-10-13 11:35] kns94 opened #46 "Scons not building Protobuf"
On running the script - run-tests; the following error is thrown:

/usr/include/google/protobuf/generated_message_util.h:84: undefined reference to `google::protobuf::internal::empty_string_'
libclstm.a(clstm.pb.o): In function `clstm::Array::MergeFrom(clstm::Array const&)':
/home/inno/Desktop/clstm/clstm.pb.cc:899: undefined reference to `google::protobuf::internal::ArenaStringPtr::AssignWithDefa

[2015-10-13 11:50] kns94 commented on #46
Figured it out: Removed old protobuf files from /usr/lib/x86_64-linux-gnu

[2015-10-13 11:50] #46 closed

[2015-10-13 12:54] kns94 opened #47 "Documentations required"
Any documentations/tutorials to train models and to test for OCR?

[2015-10-13 18:29] tmbdev commented on #47
See the *.ipynb files in the misc/ subdirectory:

https://github.com/tmbdev/clstm/tree/master/misc

[2015-10-13 18:29] #47 closed

[2015-10-13 21:37] amitdo opened #48 "What's the license of the UW3 dataset?"
* http://www.tmbdev.net/ocrdata/uw3-lines-book.tgz

[2015-11-07 12:03] amitdo commented on #48
@tmbdev?

[2015-11-11 21:23] isaomatsunami opened #49 "Other language trial report"
With 500-character subset of Japanese Kanji, clstm works fine. (hidden_nodes = 100, MacBook, gcc48 from homebrew)
Your kid reads Japanese brilliantly.

I am trying 2492-char subset. it seems to take several weeks (hidden=200, this time)
(NO nhidden = 200 seems to be hopeless, he/she seems to learn one char by forgetting another)

Now trying 3700 chars( little bigger tesseract jp-dataset ) with nhi

[2015-11-11 21:56] amitdo commented on #49
How much time did it take you to train 500 chars?

[2015-11-12 16:03] rctay opened #50 "trained models like ocropy's en-default.pyrnn?"
Could you be kind enough to provide trained models like you do for ocropy/ocropus?

[2015-11-16 15:58] morusu opened #51 "Illegal instruction"
hello,I loaded your code,it's very amazing! I know little about it so i have some questions.
when i run ./test-lstm , it gives error:  test-lstm.cc:80:3: error: use of undeclared identifier 'unlink'; did you mean 'inline'?After googled, I add head file #include <unistd.h> and solve this problem.
Then run ./test-filter.sh , it gives anther error :./test-filter.sh: line 7: 26632 Illegal instruction:

[2015-11-16 22:37] isaomatsunami commented on #49
One-day training is enough to predict 500 chars.
Seems that the current Eigen.Tesor version runs in a single thread. My setting might be wrong.

in run-uw3-500, hidden may be nhidden, it seems to be renamed.

[2015-11-17 08:18] amitdo commented on #51
From the README:

The master branch is also working for me. You may need eigen 3.3 alpha.
My machine is running ubuntu 14.04 64bit.

[2015-11-17 13:08] morusu commented on #51
grateful for ur advice. eigen 3.3 alpha have solve the problem. the ./run-test gives error at 'scons -s -c pyswig' :scons: **\* [_clstm.so] Source file: clstm.i is static and is not compatible with shared target: _clstm.so . I think it's use for python , my c code has pass. right?

[2015-11-17 15:02] amitdo commented on #51
Try to disable these lines in run-test:

[code]

Comment them like this:

[code]

Now, rerun ./run-test

Do you get "ALL TESTS PASS" ?

[2015-11-17 15:13] morusu commented on #51
yes, after disable those lines, i get 'echo ALL TESTS PASS '

[2015-11-17 15:25] amitdo commented on #51
So you only have a problem with the python bindings.
I dont get the errors you've getting. Maybe it because I compiled the latest swig version from source?
http://www.swig.org/download.html

[2015-11-18 16:19] stexandev opened #52 "loading of previously trained models"
Hi,
I have an issue concerning the master-branch, where loading of trained models into clstmocrtrain is implemented but not working (for me). I have audited the code but cannot find what issues the following error with a given load- and/or start-parameter.
got 950 files, 50 tests
.Stacked: 0.0001 0.9 in 0 48 out 0 74
FATAL: missing parameter

Best wishes

[2015-11-19 10:34] amitdo commented on #52
Please paste here the full commands you used to:
- Train the model
- Load the model

[2015-11-23 09:45] stexandev commented on #52
The  bash-script I used contains the following commands for training (loading-attempt was made with commented lines)
#!/bin/bash
set -x
set -a
report_every=10
save_every=1000
ntrain=200000
dewarp=center
display_every=10
test_every=1000
testset=mub1test.h5
hidden=100
lrate=1e-4
save_name=mub1
report_time=1
#load=mub1-12000.clstm
#start=12000
./../clstm-master/clstmocrtrain mub1gt mub1test

[2015-11-23 10:18] amitdo commented on #52
If you haven't noticed, I already solved the problem. PR #53 has 1-line fix. You can apply it and recompile. It seems to work as expected now.
Thanks for reporting !

[2015-11-23 10:27] amitdo commented on #52
The 'start' environment variable isn't needed in the second run, only the 'load'.

[2015-11-25 06:29] isaomatsunami opened #54 "test_set_error"
At 171-173 in clstmocrtrain.cc, errors and count seems to be turned over.

Or, test_set_error should return an inverted pair.

[2015-11-25 13:45] isaomatsunami commented on #52
Current code still fails with "FATAL missing parameter"
    at network_info(clstm.net) just after clstm.load().
The first call is OK. but recurrently-called(2nd time) network_info(net, ".Stacked") fails.(with super == 0x0)

This parameter seems to be "learning_rate". Is it stored in saved .clstm file?
Or net->attr must have super instance as default values.

[2015-11-26 07:58] amitdo commented on #52
What do you mean by "current code"?
Tom didn't merge my PR with master yet, so if you want to test it you should apply the patch locally (to a new branch) and recompile.

It works for me and for @stexandev.

[2015-11-27 03:54] isaomatsunami commented on #52
It's my fault. patched code works perfectly.
Thanks.

[2015-12-04 09:11] morusu commented on #54
I find this,too

[2015-12-14 19:17] Sleemanmunk opened #55 "How can I generate clstmseq?"
Using RHEL 6.5
I've installed hdf5 and hdf5-devel
I've looked in the  SConstruct and gave the hdf5lib=hdf5_serial option.
I even added some debug code to make sure it was accepting it.
No matter what I do, the code moves forward without error and installs the regular tools, but none of the HDF5 tools.
Any ideas?

[2015-12-14 19:47] Sleemanmunk commented on #55
I'm using separate-derivs. Tried switching to the latest, but it's saying it can't find Unsupported/Eigen/CXX11/Tensor

[2015-12-15 15:31] Sleemanmunk opened #56 "Providing manual alignment"
Is there any way to give a gold-standard alignment to CLSTMText?
I'm working on some research evaluating its efficacy on other tasks besides OCR, such as Twitter, where expanding acronyms is a big deal. Right now clstmtext is suffering mightily because it takes text lines directly instead of letting me give it the direct alignments (e.g. two sequences, ["lol", "wut"] --> ["laughing out loud", "wha

[2015-12-15 15:35] Sleemanmunk commented on #55
I may have gotten it to work with some serious hacking.
$scon .
turned out to be the trick to get it to even try to compile, and then I got a little hdf5 error message that was easy to fix.

[2015-12-15 15:35] #55 closed

[2015-12-15 15:36] Sleemanmunk commented on #56
I was hoping clstmseq was what I was looking for. Unfortunately, I'm having trouble finding documentation as to what these "sequences" actually are and how to make an aligned list of word sequences into a list of "variable length sequences of fixed length vectors" Why are the inputs "floats?" if they were ints they'd be indices into an alphabet, a paradigm with which I am all too familiar, but I d

[2015-12-17 13:37] Sleemanmunk commented on #43
I am in separate-derivs and am having the same issue.
#export maxeval=1000
#export save_every=0
export model_name=holmes
#export lrate=1e-3
#export nhidden=30
export report_every=1000
export test_every=5000
#export lstm=BIDILSTM
export testset=../../Text_Normalization/data/ocr/Holmes/clstm/by_sentence/holmes_test.tsv
export trainset=../../Text_Normalization/data/ocr/Holmes/clstm/by_sentence/holmes

[2015-12-30 11:04] yunkaili opened #57 "errors in test-ocr"
below is the running log. i added some printf in the program.
and locate the error happens at line 60 in the file clstm_compute.h
the code calls the sum function of a tensor1 variable.

the version of Eigen i use is Eigen3.3-beta1

need some help here, thank you

scons: Reading SConscript files ...
scons: done reading SConscript files.
scons: Building targets ...
g++ --std=c++11 -Wno-unused-result

[2015-12-31 04:26] yunkaili commented on #57
update:
problem solved.
it is probably caused by the function in the tensor module in Eigen.
two function calls assertion.
one at line 60 of the file ctc.cc, sum(out) which sums all the element in out
the other at line 79 of the same file, maximum(both) which returns the maximum value of all elements in both.
re-implement this two function by yourself and the test will work

[2016-01-21 00:37] isaomatsunami commented on #49
After 50 days of training on my MacBookPro, 130000 iterations, against 3877 classes  of characters, the clstm has achieved 3.6% error rate so far.
3877 codec set is comprised of tesseract-ocr Japanese set + a little addition( tesseract set lacks some non-authentic characters usually seen in daily documents).
The hidden nodes is 800, The trained data is 58.2MB. (I can't upload!!!)
No hangup. Bravo

[2016-01-21 10:03] amitdo commented on #49
Cool !
:)

[2016-01-22 06:08] zuphilip commented on #49
<blockquote>The trained data is 58.2MB. (I can't upload!!!)</blockquote>

@isaomatsunami Why do you can't upload it?

[2016-01-22 06:23] isaomatsunami commented on #49
I thought the limit size of Github was 50MB...
The performance is fluctuating now. When stabilized, I will upload it.

It seems many of errors are inevitable/acceptable,  between "W" and "Ｗ"(Japanese wide char) , between "," and "、" and so on.

[2016-01-22 06:32] zuphilip commented on #49
Currently, I read that file size limit in github is 100 MB, see https://help.github.com/articles/what-is-my-disk-quota/ . Thank you for sharing the file.

[2016-01-28 23:00] #52 closed

[2016-01-28 23:01] tmbdev commented on #57
Try again; I finally merged the Eigen::Tensor version into the master branch. There are a several built-in test cases now.

[2016-01-28 23:18] tmbdev commented on #56
The outputs from the network are "hot-1" coded. That is:

Sequence outputs(nsteps, nclasses, nbatches);
for(int i=0; i<nclasses; i++) outputs[t](i, b) = 0;
outputs[t](cls, b) = 1;

means that the output at time step `t` in batch `b` is class `cls`. (Usually, nbatches=1, but you can train multiple sequences simultaneously.)

Manual segmentation doesn't really help a lot. But what you could do is th

[2016-01-28 23:18] #56 closed

[2016-01-28 23:19] tmbdev commented on #50
I just pushed the Tensor-based version. I will try to provide trained models soon.

[2016-01-28 23:21] tmbdev commented on #54
Fixed. Thanks.

[2016-01-28 23:21] #54 closed

[2016-01-28 23:23] tmbdev commented on #48
Not sure. You probably need to order it from UW if you want the complete set.

[2016-01-28 23:23] #48 closed

[2016-02-05 08:04] ASDen opened #60 "test-gpu.cc is missing & state of GPU support"
1) the test-gpu.cc refered in the SConstruct file is missing from the repository
2) is it enough to set gpu=1to scons to enable GPU support ?
3) what is the current state of GPU support ?

Thanks,

[2016-02-08 10:19] tmbdev commented on #60
(1) I'll add the test. (2) I think it is.

(3) It passes the tests, but it hasn't been tested much beyond that. I don't know what performance is going to be like; it may help some for larger batch sizes as is.

[2016-02-09 10:21] ASDen opened #61 "An OCR example for 2D LSTM"
it would be very nice to provide a code or a high level description of using 2DLSTMs in CLSTM for OCR tasks.
going though the image filter example in test-2d.cc with 1x1 patch (if I understand right) it is not that obvious how to use 2DLSTMs in e.g. clstmocrtrain.cc
direct replacing of BLSTM with 2DLSTM would compile and work but won't converge and would be using 48x1 (i.e. 1D) patches.
What one w

[2016-02-11 19:18] arthchan2003 opened #62 "Undefined symbol error when "import clstm" in python"
I tried to compile and "setup.py build" with clstm, when I did

I got "_clstm.so: undefined symbol: _ZN7ocropus14default_deviceE"  The platform is Ubuntu 14.04.  I am using Anaconda python.

Given the name, I suspect the symbol is related to ocropy, so I tried to install the python packaged of ocropy.  But I still get the same error.   Would anyone mind to give me some hints?  Thanks in advance fo

[2016-02-12 01:04] tmbdev commented on #61
The 2D LSTM hasn't been used yet for OCR, so that's still to be worked out.

CLSTM's 2D LSTM uses a "separable 2D LSTM"; that is, it doesn't zig-zag across the image, but instead processes rows and columns in parallel. In existing benchmarks, that's turned out to be at least as good as traditional 2D LSTM, but it's a lot faster and more parallelizable.

[2016-02-12 01:06] tmbdev commented on #62
"ocropus" is also the C++ namespace name, so there is no relationship really to ocropy.

There may be some files missing from the setup.py list of source files; I'll check. The Python bindings are not currently tested regularly.

[2016-02-12 01:27] arthchan2003 commented on #62
My bad, I later demangled the variable and conclude the same thing.

In any case, thanks for your time in advance.  Kudo to your great work.

[2016-02-12 02:28] isaomatsunami commented on #49
uploaded trained data for Japanese character set. I'm not sure it works with current code.
https://github.com/isaomatsunami/clstm-Japanese

[2016-02-12 05:18] ASDen commented on #61
is this the architecture used [here](http://www.cv-foundation.org/openaccess/content_cvpr_2015/papers/Byeon_Scene_Labeling_With_2015_CVPR_paper.pdf) ?

[2016-02-13 12:36] ASDen opened #63 "Many NaN errors with the new Tensor-based version"
For many models (especially deep ones with many parameters e.g. bidi2), I keep getting the following error

clstm.cc:664: void ocropus::GenericNPLSTM<F, G, H>::backward() [with int F = 1; int G = 2; int H = 2]: Assertion `!anynan(out)' failed.

where the old version (Mat-based) works just fine

[2016-02-14 08:51] avr248 opened #64 "python setup.py build - ERROR"
clstm_wrap.cpp:6375:15: error: no member named 'resize' in 'ocropus::Batch'
      (arg1)->resize(arg2,arg3);
[code]

[2016-02-18 09:39] Halfish opened #65 "How to use GPU to speed up in clstm?"
when I try to use command like this to compile
`scons -j 4 gpu=1 clstmocrtrain clstmocr`
but failed to enable GPU, what is the right things to do to use GPU to speed up the training process?

[2016-02-18 10:09] ASDen commented on #65
one thing to note that is not directly mentioned is that the required minimum CUDA compute capability is 3.0

[2016-02-19 06:58] ASDen commented on #63
can you please confirm the problem ? or it is just me misusing CLSTM...

[2016-02-19 07:00] Halfish commented on #65
@ASDen Yes, the GPU in my school lab is powerful enough. But I wonder how to enable the GPU, because I got compile error when I run scons gpu=1 clstmocrtrain.
Here is the nvcc.log

[code]

[2016-02-24 08:56] MichalBusta commented on #63
Hi, I believe it's just wrong assert. The assert is after input assignment, so ".d" derivatives parts are still un-initialized. (for larger networks you just increase probability that there will be random nan).

the proper fix can be:

bool anynan(Batch &a) {
  if(anynan(a.v())) return true;
  if(anynan(a.d())) return true; //this is failing
  return false;
}

bool anynan_v(Batch &a) {
  if(anynan

[2016-03-11 02:18] hn18001 opened #68 "Use clstm to handwriting recognition like the IAM dataset"
Hello, have anyone tried clstm to handwriting recognition? I have just applied it for the IAM dataset(http://www.fki.inf.unibe.ch/databases/iam-handwriting-database), but there isn't a good performance(33.5% error ratio after 200,000 iterations). I used the config like run-uw3-500, and tried to modify the parameters(e.g. set hidden to 500, 300, set lrate to 1e-4, 1e-3), but the performances are al

[2016-03-15 02:06] kendemu opened #69 "import error in clstm python module"
I tried to import clstm python module but this following error happens:
[code]

How can I solve this error? I did ```scons```, ```sudo scons install``` command and I saw the README that ```python setup.py build``` command is broken.

[2016-03-15 02:12] kendemu commented on #69
I found that I need swig3.0, not swig = swig2.0.

[2016-03-15 02:22] kendemu commented on #69
OK, it's not working even if I installed swig3.0, and I this this problem relates to that the `python setup.py build` fails.
I have the following error when building python extention:

[code]

Which commit supports the clstm python binding or how can I solve the problem?

[2016-03-15 02:23] kendemu commented on #69
Also I'm using the eigen3 tensorflow_fix version.

[2016-03-15 02:26] kendemu commented on #69
OK, maybe I found out the problem by reading the commits that I can't use the master branch and I maybe have to use the separate_derivs branch.

[2016-03-15 02:38] kendemu commented on #69
I finally succeed importing clstm python module by using the `separate-derivs` branch. It'll be more helpful for another developers using the clstm if you write that the stable branch is on the `separate-derivs` in the master branch README.

[2016-03-15 02:38] #69 closed

[2016-03-18 04:03] crazylyf opened #70 "usemat acceleration in current version?"
In the previous version, one can accelerate calculation using "usemat=1" during installation, which use matrix instead of tensor. But in the current version, the matrix alternative is not supported. Is this means the tensor version is as fast now? Why matrix part is removed?

Best

[2016-03-19 12:38] kendemu opened #71 "How to use pretrained model in python script"
I am using a pretrained clstm language model and loading it.
This is my code:
[code]

But this error occurs:
```[libprotobuf ERROR google/protobuf/message_lite.cc:123] Can't parse message of type "clstm.NetworkProto" because it is missing required fields: kind, ninput, noutput```

I think I am mistaking loading the neural net model or need more specific parameters to load it. How to solve this pro

[2016-03-20 04:32] kendemu commented on #71
OK, I saw the [ocropus-lpred](https://github.com/tmbdev/ocropy/blob/master/ocropus-lpred#L47) code using clstm module add the following code. Hoping it's going to work.

[code]

[2016-03-20 16:46] mittagessen commented on #71
AFAIK the code in ocropus-lpred uses a radically different clstm API than the one that's currently implemented. If you like you can take a look at my model handling [code](https://github.com/mittagessen/kraken/blob/master/kraken/lib/models.py) in kraken. If you don't want to wade through everything you should be able to use the model out of the box although I have to admit I haven't tested using c

[2016-03-21 11:15] kendemu commented on #71
Thank you for the advice!
I succeeded loading the neural network model and the inference! However, the Japanese model I found on the Internet seemed that the data is corrupt(it shows that the input dim = -1, output dim = 0), and also it occurs "Segmentation Fault" when using the `clstm.network.decode()` in any conditions.
Finally it worked with the original `decode()` method mentioned in the ipyth

[2016-03-30 04:15] kendemu opened #72 "What Gradient Descent Method clstm is using?"
What Gradient Descent Method clstm is using? SGD? AdaGrad? NAG? RMSProp? Adam?
I want to increase the speed of the learning.
If clstm is not using adaptive learning rate algorithm, I also have to ask that this method can change the learning rate dynamically to implement adaptive learning rate algorithm:
```net.setLearningRate(1e-4,0.9)```

[2016-03-30 07:28] kendemu commented on #72
Oh, I found this method in the test-clstm.py. SGD+momenum.

[code]

Is there adagrad, NAG, or faster solver? SGD is quite slow.

[2016-03-30 08:48] kendemu opened #73 "Code sample for original dataset using clstm python and using opencv2"
I suffered a lot to come to code clstm python with the original dataset using opencv2 and python. Hope this code helps other people trying to use clstm python.
[code]

[2016-03-31 03:31] sawwhite commented on #64
We have the some problem

[2016-03-31 06:19] sawwhite commented on #64
struct Batch
void resize(int,int);
  void setZero(int,int);

in file clstm_wrap should be deleted.

[2016-04-01 04:33] srika91 opened #74 "CLSTM for pronouns like places,names etc"
I am a beginner in LSTM.My doubt is, with what I have understood LSTM wont do just OCR rather it will also try to predict the next word or character unlike tesseract.But suppose I am training for say a set of pronouns like names,places etc should I train for all possible names and places.Because given a new place with say 2 words, clstm may try to predict the next word and if that is not in the tr

[2016-04-07 17:39] midhunharikumar opened #75 "Is there a tutorial on how to use CLSTM instead of the python lstm in ocropy"
I'm trying to use the C++ version CLSTM in ocropy . i tried building the python parts using setup.py but it throws errors

`~/OCROpus/clstm$ python2 setup.py build
PY_CORE_CFLAGS -fno-strict-aliasing -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -D_FORTIFY_SOURCE=2 -g -fstack-protector --param=ssp-buffer-size=4 -Wformat -Werror=format-security   -I. -IInclude -I../Include -fPIC -DPy_BUILD_CORE

[2016-04-17 04:21] wanghaisheng commented on #49
@isaomatsunami how  do you get single tex-line from your original documents

[2016-04-17 06:44] zuphilip commented on #49
@wanghaisheng Maybe my wiki page [Working with Ground Truth](https://github.com/tmbdev/ocropy/wiki/Working-with-Ground-Truth) helps here.

[2016-04-17 17:21] wanghaisheng commented on #49
@zuphilip  can you show me which paragraph you refer to  ?

[2016-04-26 06:39] haihaoshen commented on #65
Any idea to enable GPU to build clstm?

[2016-04-26 10:59] Halfish commented on #65
No idea.

[2016-04-27 03:50] melody-rain commented on #65
got the same error.
cannot find  __T216 in TensorReduction.h...

[2016-04-27 05:08] melody-rain commented on #65
check assert(false && "Not implemented"); in TensorReduction.h.

what is false && "Not implemented"? I just comment the line of code and it compiles successfully.

[2016-04-27 07:38] melody-rain commented on #65
updating eigen seems to fix the problem...

[2016-04-27 13:05] chinakook commented on #65
it could really have not been implemented as the assertion

[2016-04-28 02:49] wanghaisheng opened #77 "can clstm recognize speical character well"

[2016-04-28 11:55] mittagessen commented on #77
In general an LSTM+CTC configuration is able to recognize anything from the training data including "special" symbols (doing ancient Greek and playing around with Arabic here). You have to ensure the input you want to handle is included in the training data which is the reason the default model of ocropy doesn't deal well with these inputs.

"Tricky" stuff right now is training models performing w

[2016-04-28 13:21] #77 closed

[2016-05-01 13:01] WenchenLi opened #78 "which eigen version?"
Hi,
Which eigen version is used? I have errors compiling with 3.2.8
`./tensor.h:39:10: fatal error: 'unsupported/Eigen/CXX11/Tensor' file not found
#include <unsupported/Eigen/CXX11/Tensor>`
And after I go to https://github.com/RLovelett/eigen to get the unsupported/eigen/CXX11, there is just too many errors compiling:

`In file included from clstmfilter.cc:1:
In file included from ./clstm.h:17:
I

[2016-05-01 13:22] WenchenLi commented on #78
on mac, dont use `brew install eigen`, clone from source directly

[2016-05-01 13:22] #78 closed

[2016-05-01 13:27] WenchenLi opened #79 "run-tests failed"
hi,
running ./run-tests gave me this, how can I fix this?
[code]

[2016-05-04 15:10] mafzal-iupr opened #80 "Compiling clstm on windows"
Hi
     I was just wondering that whether one could compile CLSTM on windows.
     As far as I know, Tensor flow is not available for windows.
     How much dependent clstm is on Tensorflow?

Thanks

[2016-05-06 14:41] amitdo commented on #80
Currently TensorFlow is not being used.

[2016-05-08 20:13] rolfmertig commented on #79
Adding
`#include <unistd.h>`
in `test.lstm.cc`
worked for me.

[2016-05-10 23:50] wanghaisheng opened #81 "how to specify cpu cores to speed up trainning"
if i want to run the following tests
[code]
lets say  i have 32 cores,how to specify cpu cores to speed up trainning

[2016-05-16 03:48] #81 closed

[2016-06-03 09:45] wanghaisheng opened #83 "load pretrainned model error"
[code]

[2016-06-06 15:05] amitdo commented on #83
Hi @wanghaisheng !

Please paste here the content of `test-xps-third.sh`.

You are using `test-xps-third.sh` to load a saved model. What commands you used to create the model in the first place?

[2016-06-07 11:54] wanghaisheng commented on #83
[code]

[2016-06-07 13:45] amitdo commented on #83
Do you use the latest commit from the master?

[2016-06-07 14:00] wanghaisheng commented on #83
yes

[2016-06-07 15:15] amitdo commented on #83
I suggest that you try to find with a debugger the line in **clstmocrtrain.cc** that triggers this abort in lstm.cc.

[2016-06-10 01:12] mattndu commented on #65
Has anyone had success getting this to work?  I successfully compiled it for GPU, but it doesn't train -- I get segmentation fault.

If anyone has made this work, what kind of training times are you seeing?

This library looks really cool, unfortunately seeing reports of 50+ days of training time (for the Japanese data), makes me think it might be practically unusable.

[2016-06-14 15:28] chinakook commented on #65
I think the mini-batch size cannot be set in clstm until now, so the GPU version may not be faster than the CPU one. If you want to accelerate the training, please try torch with cudnn V5, in which library the training speed up 5x when using batch-size 64.

[2016-06-23 04:38] #83 closed

[2016-06-23 11:27] amitdo commented on #83
Did you solve it? How?

[2016-06-23 15:34] wanghaisheng commented on #83
nope
i try to train another model from scratch instead of loading existing ones

[2016-07-03 15:33] mattndu opened #84 "How to find the character X coordinates"
I'm trying to find the X start/end coordinates for an individual character.  I'm able to get the "t" value from ctc.cc (trivial_decode) but it doesn't line up precisely with the normalized image.  It's off to the left by a fair amount, and the right edge ends in the middle of the character.

Is there a good way to figure out where in the original image the character is?  I'd like to know the left/

[2016-07-17 13:21] seragENTp opened #85 "2D LSTM ?"
what is the architecture of the 2D LSTM implemented in the library , any reference for it ?

[2016-07-28 10:19] simmoncn opened #86 "import clstm throw _clstm.so: undefined symbol: _ZN7ocropus14default_deviceE""
who can help me to check the exception? or I want to use the python API to use the pre-trained model. who can give me some tips?

[2016-08-03 08:31] naufil601 opened #87 "Error in running ./run-tests"
When I run "./run-tests",I get this error. I've tried "scons -c && scons && sudo scons install" but it gave the same error of clstm.proto.o
Help required..

scons: Reading SConscript files ...
scons: done reading SConscript files.
scons: Building targets ...
g++ --std=c++11 -Wno-unused-result -o clstmocrtrain.o -c -g -O3 -DEIGEN_NO_DEBUG -DCATCH=catch -DCLSTM_ALL_TENSOR=1 -DNODISPLAY=1 -DTHROW=thr

[2016-08-03 09:18] jbaiter commented on #86
You have to add `batches.cc` and `clstm_compute.cc` to the `sources` list in `setup.py`. With that, it works for me!

[2016-08-19 09:11] striversist opened #88 "How can I speed up the training process using GPU or multi thread on CPU?"
Even if I build the project success using command "scons -j4 gpu=1", it seems the clstmocrtrain still use CPU to train which is realllllly slow.
So is there any option to turn GPU training on? Was the project dead?

[2016-08-24 19:24] PedroBarcha opened #89 "scons: *** [clstm_compute_cuda.o] Error 127"
Hi there!
I've already installed all of clstm dependencies, but when I try to build clstm, I get:

[code]

What am I doing wrong?
Thanks a lot!

[2016-08-31 20:04] PedroBarcha commented on #65
I've got the same issue. Have you found out any solution?
Halfish , @mattndu

[2016-08-31 20:41] mattndu commented on #65
I switched over to this.  It's a bitch to setup, but It works great.  It drives my GPU at 70% or so, but it's still a little slow.  Probably 3-4x faster than clstmocr though.  I think it's just inherently slow due to the serial nature of the training:

https://github.com/dmlc/mxnet/tree/master/example/warpctc

[2016-08-31 22:07] bluefa1con commented on #65
@mattndu mind giving a heads up on setting it up? The input data format and requirements
I got this error compiling it

`/usr/lib/gcc/x86_64-linux-gnu/5/include/mwaitxintrin.h(36): error: identifier "__builtin_ia32_monitorx" is undefined

/usr/lib/gcc/x86_64-linux-gnu/5/include/mwaitxintrin.h(42): error: identifier "__builtin_ia32_mwaitx" is undefined

2 errors detected in the compilation of "/tmp

[2016-08-31 22:09] bluefa1con commented on #65
@mattndu hey mind giving a heads up on setting it up? The input format and requirements
I got this error compiling it, clstm is painfully slow for me so want something that uses GPU

/usr/lib/gcc/x86_64-linux-gnu/5/include/mwaitxintrin.h(36): error: identifier "__builtin_ia32_monitorx" is undefined

/usr/lib/gcc/x86_64-linux-gnu/5/include/mwaitxintrin.h(42): error: identifier "__builtin_ia32_mwait

[2016-09-01 09:24] bluefa1con commented on #65
@mattndu hey man not to bother you about this but I ran into a few errors while getting it compiling
its mostly related to gcc, how did you fix them?
/usr/include/c++/5/bits/stl_iterator_base_types.h(156): error: name followed by "::" must be a class or namespace name
          detected during:
            instantiation of class "std::__iterator_traits<_Iterator, void> [with _Iterator=int]"
(163):

[2016-09-05 13:30] #89 closed

[2016-09-19 06:46] ericustc commented on #33
"if you want to train the CNN and the CLSTM simultaneously, the CLSTM will backpropagate deltas for you that you can connect to your CNN library; after backward(), the deltas are in net->d_inputs",
where are the  deltas in the new code?

[2016-09-19 09:03] jbaiter commented on #33
I think they're in [`Batch::d`](https://github.com/tmbdev/clstm/blob/master/batches.h#L14) (see e.g. the usage in [`ocropus::share_deltas`](https://github.com/tmbdev/clstm/blob/master/clstm.cc#L738))

[2016-09-21 12:42] jmokoistinen commented on #64
Lot of errors while building any idea what's wrong?
/usr/local/include/unsupported/Eigen/CXX11/src/Tensor/TensorArgMax.h:215:3: error: ‘EIGEN_DEVICE_FUNC’ does not name a type
   EIGEN_DEVICE_FUNC EIGEN_STRONG_INLINE TensorEvaluator(const XprType& op, const Device& device)
   ^
/usr/local/include/unsupported/Eigen/CXX11/src/Tensor/TensorArgMax.h:231:3: error: ‘EIGEN_DEVICE_FUNC’ does not name a ty

[2016-10-09 08:37] bluefa1con opened #90 "Adding custom features to clstm"
I am training clstm over the IAM handwriting database and need to add more features like:
The mean grey value of the pixels
The centre of gravity of the pixels
The second order vertical moment of the centre of gravity
The positions of the uppermost and lowermost black
pixels
The rate of change of these positions (with respect to the
neighbouring windows)
These features are to be calculated at ever

[2016-10-11 12:44] amitdo commented on #70
In SConstruct comment this line:
`env.Append(CPPDEFINES={'CLSTM_ALL_TENSOR': '1'})`

[2016-10-11 12:51] tmbdev commented on #70
In earlier versions of Eigen, the matrix code was more optimized than the tensor code, but that isn't true anymore, so the matrix version isn't needed anymore.

[2016-10-12 08:42] jbaiter opened #91 "Batched OCR training?"
Currently the `CLSTMOCR` class that is defined in `clstmhl.h` can only train on single line images. Due to this, optimizations like Eigen's multi-threaded tensor operations and the GPU support have little effect, since the task size for single samples is too small for them to make a difference.

From a cursory reading of the code I could gather that batched training is supported by the lower-level

[2016-10-12 16:23] amitdo commented on #70
Tom,
So why is a588c8 (matrix only, no tensor) is more than 2.5 faster in training compared to the tip of the repo?
Tested on my 4 years old PC, intel i5 - 4 cores, 8 GB RAM, without dedicated GPU.

[2016-10-12 16:31] tmbdev commented on #70
The speed of matrix vs tensor depends crucially on the version of Eigen; the version that you have installed may be too old. Can you install Eigen from github source and then do the benchmarks again?

(Most of the work of optimizing Eigen these days goes into the tensor code, since that's what other deep learning frameworks use.)

[2016-10-12 16:40] amitdo commented on #70
I forgot to mention that I tested this with Eigen 3.3 rc1.
On Ubuntu 16.04 (gcc ~~5.1~~ 5.4).

[2016-10-12 16:42] tmbdev commented on #91
There are a bunch of different reasons. The code was ported from Python, where batching wouldn't have helped with speed, so it was easiest and safest to leave it as is. In addition, for other networks, batching tends to result in higher test set error rates, so there wasn't much motivation to add it (it seems to have no effect either way on error rates for LSTMs). Eigen Matrix also didn't support

[2016-10-12 16:51] tmbdev commented on #70
That sounds odd. I benchmarked both versions against each other before switching. Recent versions of Eigen really shouldn't have big differences in linear algebra performance between tensor and matrix; after all, the tensor code drives much of Google's TensorFlow.

Is it possible your matrix code is running multicore? Checking with htop while it's running should give you some idea.

[2016-10-12 17:36] amitdo commented on #70
I checked with htop. Only one cpu run 100%, the others are idle / <2% most of the time.

[2016-10-12 18:16] tmbdev commented on #70
Hmmm... I'm not sure. At this point, all I can say is that when I made the switch, the two performed pretty much identically to each other, and basically gave the same performance as a good BLAS implementation. Whatever the cause is, it ought to be fixable without switching back to the Eigen matrix backend. I'll leave the bug open and see whether I can reproduce&find a quick fix.

[2016-10-12 18:28] amitdo commented on #70
Make sure you are testing cpu only without gpu involvement.

[2016-10-12 19:27] jbaiter commented on #70
Weird, with the latest code from master I get step times of ~0.3s with the uw3-500 dataset, while with the a588c8 version they are between 6.5s and 10.5s, i.e. the matrix code is significantly slower. Both were compiled with eigen 3.3beta2 on Debian unstable.

edit: Using the latest eigen checkout, the performance difference still remains.

[2016-10-12 20:02] amitdo commented on #70
I get ~0.8s with the uw3-500 dataset

I get ~0.3s...

[2016-10-12 20:10] jbaiter commented on #70
The slowness of the matrix code was due to me using `debug=-1` (which enables amongst others `-Ofast`). With the default the matrix  version runs at ~0.3s and the tensor version is between 0.5 and 0.9s, i.e. the same as on your machine (I'm running this on an i5 clocked at 3.1ghz).

So it seems that to get comparable performance, the compiler flags have to be tuned for the tensor version.

[2016-10-12 20:46] tmbdev commented on #70
What's the CPU in each case?

On Wed, Oct 12, 2016, 13:10 Johannes Baiter notifications@github.com
wrote:

[2016-10-12 20:50] jbaiter commented on #70
Here's an excerpt of my `/proc/cpuinfo`:

[code]

Note that there's a turbo mode where the CPU clock goes up to 3.1Ghz, which is what was active when I benchmarked clstm.

Compiler version:

[code]

[2016-10-12 21:11] amitdo commented on #70
I can confirm that installing the latest code with `scons debug=-1`, I get the same performance as the matrix based code.

[2016-10-12 22:15] amitdo commented on #70
My cpu:

[code]

gcc version 5.4.0

[2016-10-14 11:49] wanghaisheng commented on #91
i was sufferring from the speed of clstm trainning.how could community contribute to the new project

[2016-10-16 17:33] #49 closed

[2016-10-24 16:35] kba opened #95 "Properly configure CI"
It seems like the Circle CI continuous integration never worked. We can configure it with a circle.yml file, I can do that but I wouldn't know what to actually test beyond compilation.

[2016-10-24 17:14] kba commented on #95
I'm actually able to configure the CircleCI setup from within the web interface. Upgraded to run on 14.04 now, trying to get the dependencies right.

[2016-10-24 17:15] zuphilip commented on #95
I am fine that the tests would just show us whether compilation is working or not. This sounds like a reasonable and doable start. Afterwards we could look closer at the tests which are already part of the repo, e.g. https://github.com/tmbdev/clstm/blob/master/run-tests

[2016-10-24 17:16] kba commented on #95
https://github.com/tmbdev/clstm/blob/master/run-tests those are a bit heavy for testing PRs (multiple recompilations etc.)

[2016-10-24 19:55] kba commented on #95
Compilation works and CircleCI is training away on the cmu set https://circleci.com/gh/tmbdev/clstm/96. I'll wait and see how that goes but eventually I'll just set `echo "No tests yet"` as the test command so we can at least smoke test pull requests until we come up with a simpler test.

[2016-10-24 22:19] kba commented on #95
After two hours CircleCI stopped the build. After disabling the test as described, [build passes](https://circleci.com/gh/tmbdev/clstm/98). Takes about 2:30 minutes for fetching dependencies and compiling.

[2016-10-24 22:36] zuphilip commented on #95
Okay, this means we are testing currently if it can be installed, right?

[2016-10-24 23:04] kba commented on #95
Right.

[2016-10-27 21:34] tmbdev commented on #88
clstm+Eigen can perform the computations on the GPU in principle, but that code hasn't really been tested much, and it turns out there are now better ways to handle LSTM on GPU. I'm working on a new project for high-performance GPU-based OCR.

[2016-10-27 21:34] #88 closed

[2016-10-27 21:38] tmbdev commented on #85
It's a bidirectional LSTM running over the rows of the image, then over the columns. The input is usually the output from a convolutional layer.

There is a bit more info and references in this paper:

http://www.cv-foundation.org/openaccess/content_cvpr_2015/html/Byeon_Scene_Labeling_With_2015_CVPR_paper.html

[2016-10-27 21:38] #85 closed

[2016-10-27 21:39] tmbdev commented on #91
Give me a few weeks; I just moved from Google to NVIDIA. GPU support will be much better now :-)

[2016-10-27 21:39] #91 closed

[2016-10-27 21:40] tmbdev commented on #86
I've fixed the setup.py file and the Python tests should run again.

The notebooks in misc/ still need updating.

[2016-10-27 21:40] #86 closed

[2016-10-27 21:44] tmbdev commented on #95
Last I tried CI, the C++ compilers that the services had available were too outdated to work properly, and they lacked some C++ prerequisites. That's why I gave up on it temporarily.

TensorFlow uses Jenkins; maybe that's worth pursuing. CircleCI with Docker might be another route.

[2016-10-27 21:46] tmbdev commented on #75
You don't need to build the Python interface in order to use CLSTM as part of ocropy; you simply run clstmocr and clstmocrtrain instead of ocropus-rpred and ocropus-rtrain. Note that the command line options are different, but both take image files of text lines as inputs and produce text files as output.

[2016-10-27 21:46] #75 closed

[2016-10-27 23:16] amitdo commented on #85
Tom,
I remember that you wrote some time ago that 2D LSTM is not better than 1D LSTM for OCR of printed text. Is that still true? for all scripts?

[2016-10-27 23:19] tmbdev commented on #85
Getting good performance out of 1D LSTM requires a good normalizer. The Ocropus normalizer works surprisingly well for some non-Latin scripts, but we really need more benchmarks to see how far that carries over.

The normalizer is a fairly tricky piece of code, so it would be nice to be able to dispense with it. I'll be experimenting with once the basic GPU implementation is done.

[2016-10-27 23:39] amitdo commented on #91
Tom,
Good luck with the new job!

[2016-10-28 03:08] ASDen commented on #85
@tmbdev what you are describing and is implemented in CLSTM is essentially a ReNet [1] style LSTM
but what is in the paper [2] is the 2D case of the classical MDLSTM [3] {by graves et al.} with two forget gates

---

[1] https://arxiv.org/abs/1505.00393
[2] http://www.cv-foundation.org/openaccess/content_cvpr_2015/html/Byeon_Scene_Labeling_With_2015_CVPR_paper.html
[3] https://arxiv.org/abs/0705.2

[2016-10-28 03:54] tmbdev commented on #85
Correct, ReNet implements the same model we do, and both models are different from the original 2D LSTM. We published some additional papers in 2014, and I gave some tutorials on these kinds of multidimensional LSTMs in 2013.

[2016-10-28 07:08] kba commented on #95
Per default, CircleCI runs Ubuntu 12.04 containers but can be changed to 14.04 and after I did, it's a really nice service, easier to configure and more flexible than Travis, you can SSH into failed builds, parallelize etc.

[2016-10-28 07:26] kba commented on #75
We should document this in ocropy

[2016-10-28 10:30] amitdo commented on #95
They added Ubuntu 14.04 support in Feb 2016.
[It's now the Default OS for New Projects](https://circleci.com/blog/ubuntu-14-04-trusty-is-the-default-os-for-new-projects/)

g++ 4.8 and 4.9 are available. It's possible to download deb packages for newer g++ and cache them.

[2016-10-28 19:58] kba commented on #64
https://github.com/tmbdev/clstm/issues/64#issuecomment-203774401

This was adressed in https://github.com/tmbdev/clstm/commit/0dfde5fa91dae505b33e3f936365b33da1500168

[2016-10-28 20:01] kba commented on #64
@jmokoistinen If that is still happening, please try with the 3.3-rc1 Eigen release and open a new issue if it's still happening.

[2016-10-28 20:01] #64 closed

[2016-10-28 22:10] kba commented on #51
@morusu I think this has been fixed. Please try again with current master and up-to-date Eigen (>= 3.3-rc1) and SWIG (>= 3.0) and open a new issue if it still fails.

[2016-10-28 22:10] #51 closed

[2016-10-28 22:11] tmbdev commented on #51
We should probably add version checks for swig and Eigen to run-tests

[2016-10-28 22:16] kba commented on #51
Or to scons.

[2016-11-02 07:09] striversist commented on #81
Have you found the way to train on multi-CPU cores?

[2016-11-02 08:43] wanghaisheng commented on #81
@striversist  sadly no

[2016-11-03 02:16] tmbdev commented on #81
You should be able to enable multicore operations for Eigen. See the EIgen3 documentation.

[2016-11-03 16:36] wanghaisheng commented on #81
@tmbdev   there is two option to enable multithreading. but where and which class should i edit
http://eigen.tuxfamily.org/dox/TopicMultiThreading.html

[code]

[2016-11-03 17:58] amitdo commented on #81
Here you set an environment variable when running `my_program`.

These two are functions, so you should use them within your code.
The first function is from the openmp library.
The second function is from Eigen.

All these options will do the same thing.

However, none of them will have any effect without enabling openmp support as part of compiling.
The current scon script doesn't have an option

[2016-11-03 18:15] amitdo commented on #81
So it seems that even if you'll enable openmp, there will be no effect.

[2016-11-04 03:50] tmbdev commented on #81
Actually, many of the computations are matrix-matrix products. However, I believe that for normal parameter settings, there isn't much of a speedup; for large models it may help. If you want to try it, you can simply add the flags back to the compilation.

[2016-11-04 13:55] wanghaisheng commented on #81
i am running a  training over chinese character for 5 months ,iteration times is 700000
error rate still above 3.0

[2016-11-07 04:00] striversist opened #106 "load pretrainned model assert failed"
Load a pretrained model to retrain new samples will cause assert failed in `Codec::encode`, but start training from scratch, this problem probably not happens.
see related issue #83

After digging the code a little, I found this clue:
from `clstmocrtrain.cc main1`
`if (load_name != "") {
    clstm.load(load_name);
  } else {
    Codec codec;
    trainingset.getCodec(codec);
    print("got", codec.

[2016-11-07 04:40] wanghaisheng commented on #106
+1

[2016-11-07 06:27] striversist commented on #106
The following change temporarily fix the assert failure. @wanghaisheng

[code]

I don't know whether there is other side effect.

[2016-11-07 07:08] wanghaisheng commented on #106
i looked into the source code you refer ,it seems after load existing model we should first get codec vector for this model and codec for trainningset ,then combine these two vector into one and using Codec::set (https://github.com/tmbdev/clstm/blob/master/clstm.cc)
at first i want to train against chinese based on the japanese model , i have not tried ,but my trainning data and the existing japan

[2016-11-07 09:16] amitdo commented on #106
Thanks for reporting.

I don't think it's a good solution to read all the dataset in each loading.

[2016-11-07 09:37] amitdo commented on #106
~~The best solution IMHO would be to encode all the \~128.000 unicode codepoints at the first load.~~

Update: It's not a good idea, see comments below.

[2016-11-07 09:44] striversist commented on #106
@amitdo  With experience, the more unicode codec you load, the slower the training process will be.
So I don't think it's a best solution, no offence.

[2016-11-07 09:49] amitdo commented on #106
I don't suggest to actually do training on all those chars...

[2016-11-07 13:40] striversist commented on #106
OK, looking forward to your solution.

[2016-11-07 14:29] amitdo commented on #106
In the meantime, don't use your temporary solution. I believe it will mess your model.

[2016-11-07 15:22] jbaiter commented on #106
I don't think this will be easy. The codec determines the size of the network's layers, i.e. there will be weights/connections in the network for each of the characters in the codec. To add new characters not in the original training data during re-training, you would have to modify the structure of the network before training, which is pretty complicated: you'd have to add extra dimensions to a l

[2016-11-07 16:09] amitdo commented on #106
Is there a problem with registering chars in the model's codec at build time (first time only), even if some of them won't be trained? For example, for Chinese - registering 6000-10,000 symbols.

[2016-11-07 16:19] amitdo commented on #106
I missed that sentence.

My answer: Certainly not!

[2016-11-07 17:00] amitdo commented on #106
My suggested solution:
The user will have an option to point to a file which will contain all the chars he think he will ever need for a specific model. Some of the chars might not appear in the dataset given as input for the network. Later on the user can find another dataset and do training on it with the existing model. The codec won't be updated.

What do you think about that?

[2016-11-08 01:19] kba commented on #106
I also do not think that there is a sensible approach to extending a trained model for symbols the network was not originally aware of. It is possible to adapt the data structures (e.g. just adding new code points to the codec) but it will result in an inconsistent model unless you fully retrain - which is what you do not want, obviously.

This seems a straightforward approach depending on how muc

[2016-11-08 10:35] amitdo commented on #106
The issue is mostly with Chinese and Japanese.

[2016-11-09 00:34] amitdo commented on #106
Training both Chinese and Japanese in the same model is not a good idea.

[2016-11-09 02:00] striversist commented on #106
Chinese has so many characters, we often train commonly used ones.
But sometimes that's not enough. We want to add some uncommon characters, So the problem happens.
If we retrain from scratch, that will take a long long time without a doubt. I think that's the same story with Japanese training.

[2016-11-09 02:40] striversist commented on #106
I think your [external codec file solution](https://github.com/tmbdev/clstm/issues/106#issuecomment-258894299) is good. We can prepare some codec for future use. @amitdo

[2016-11-09 02:50] wanghaisheng commented on #106
we often came into multi-lingual document  such as english-chinese, japanese-chinese.these characters are both valuable  to   use case .

[2016-11-09 19:59] mittagessen commented on #106
Resizing the output layer of the network after training is generally not possible, although it would be possible to precreate unused nodes and making up codec entries for these afterwards. On the other hand this is a less than smart idea as the performance impact is rather high even for rather small scripts and their combination, e.g. Greek and Latin (codec size <300).

IMHO just retrain your mode

[2016-11-09 22:54] amitdo commented on #106
@striversist, I decided not to implement what I suggested before. It seems not to be such a
good idea after all. Sorry.

[2016-11-13 11:56] mihaelacr-google opened #108 "Training two layer networks fails with gradient errors"
I have added a createBidi2 method in the CLSTMText class function, but training 2 layer networks fails with a gradient assertion error, regardless of the used learning rate and hidden layer sizes.

My code to create two layer  [here](https://github.com/mihaelacr-google/clstm/commit/cfc361793347edda7aae416a1d2403c9b534217e).

The error I am getting is
```clstmfiltertrain: clstm.cc:642: void ocropus

[2016-11-14 07:07] wanghaisheng opened #109 "scons install dislplay=1 failed against latest code"
[code]

but  **scons install **  is ok
[code]

[2016-11-14 22:11] kba commented on #109
In the title, you have a typo, it should be `scons display=1 install` (not `dislplay`). Not sure why you get these errors for just `scons` without `display=1`.

I can confirm that pytensor.h is broken for `display=1`.

[2016-11-14 22:27] kba commented on #109
@wanghaisheng Can you try https://github.com/tmbdev/clstm/pull/110? I've never used the display features before, but this will fix the `long unsigned int`/`int` errors.

[2016-11-15 06:47] srika91 opened #111 "using pyrnn.gz in clstm"
How to use the pyrnn.gz models created in ocropy for prediction in clstm, as clstm prediction seems faster than the ocropy's prediction?

[2016-11-15 07:37] jbaiter commented on #111
I don't think it's possible, since pyrnn and clstm use different model definitions:

https://github.com/tmbdev/clstm/blob/master/clstm.proto
https://github.com/mittagessen/kraken/blob/master/proto/pyrnn.proto

Maybe there's a way to convert between the two, but I wouldn't know how :/

[2016-11-15 08:12] zuphilip commented on #111
I think to remember @tmbdev mentions somewhere that one has to train the models for CLSTM again from the GT, i.e. they might not really be convertible.

[2016-11-15 09:56] kba commented on #111
Have not tried it but there is https://github.com/naptha/ocracy/blob/master/ocropy/pyrnn2clstm.py

[2016-11-15 10:59] jbaiter commented on #111
That script converts to the old HDF5-based format, not the new Protobuf-based one, unfortunately :-/
I just had a look at two protobuf models from clstm and from kraken (the fraktur one, which was converted from a pyrnn model). It looks like the ocropy-model has more parameters/weights in the LSTM layers than the clstm-model: They share `wci, wgi, wgf, wgo`, but the ocropus model has `wip, wfp, wo

[2016-11-15 11:44] amitdo commented on #111
In clstm the peephole optimization code was dropped.
https://github.com/tmbdev/clstm/issues/17#issuecomment-111535495
In ocropy it's still present.

[2016-11-15 11:51] amitdo commented on #111
See also https://github.com/tmbdev/clstm/issues/22#issuecomment-133504836

[2016-11-15 17:58] mittagessen commented on #111
They are for all intents and purposes completely different networks because of the peephole connections (so not really convertible). The code linked above only reserializes pickled pyrnn into HDF5 or protobuf files as they are vastly smaller (~1000 times without compression), faster to parse, and not an inherent security risk. A HDF5 or pronn model is still not a CLSTM model but an ocropy one with

[2016-11-16 08:38] amitdo commented on #111
From ocropy README.md

[2016-11-16 14:20] mittagessen commented on #111
The line image normalization is identical, the text line normalization is not. Ocropy normalizes output to NFKC(/D?), clstm doesn't normalize output to any Unicode normalization form.

[2016-11-16 16:59] andrewisplinghoff commented on #50
Any updates on this one? Does anyone have a well working OCR model that can be used as a basis for manual fine-tuning with custom training data? This approach worked well for me with ocropy.

/cc @zuphilip @kba

[2016-11-16 17:09] zuphilip commented on #50
Good question! We could use the wiki for collecting any links to CLSTM models.

[2016-11-20 00:55] albertyou2 opened #112 "(non-issue)Where should I find a training instructions step by step?"
Where should I find a training instructions step by step?
Thank you!

[2016-11-20 12:19] wanghaisheng commented on #112
you can read a wonderful serial blog on [Finding blocks of text in an image using Python, OpenCV and numpy](http://www.danvk.org/2015/01/07/finding-blocks-of-text-in-an-image-using-python-opencv-and-numpy.html)
or you can try[this one](https://github.com/wanghaisheng/awesome-ocr/wiki/重现日本人的模型训练)

[2016-11-21 19:35] goodtogood opened #113 "windows support !"
hi,there
    CLSTM is great , do you guys have some plan for windows support?
thx!

[2016-12-05 17:23] zuphilip commented on #113
This is IMO quite unrealistic at the moment, but you can try to work with `docker`. There is a [Dockerfile ](https://github.com/tmbdev/clstm/blob/master/Dockerfile)of the project. (@kba is this still up-to-date?)

[2016-12-05 17:32] Zerith opened #115 "Implementing clstm's network architecture in Keras"
I wish to implement clstm's network architecture in Keras, to facilitate extension and modifications to the network, and also to add gpu support.

I'm pretty much a newbie to NNs, and I'm trying to wrap my head around the code and the inner workings of clstm. It would greatly help my effort if someone can answer these questions:

1. What is the exact architecture/topology of the network implemente

[2016-12-05 18:26] zuphilip commented on #115
@tmbdev Tom, maybe you can share some insights for this questions. Moreover, I think you are already doing something with tensorflow.

[2016-12-05 18:42] stweil commented on #113
The current code uses functions like `glob` which are not available with Minw-w64. That code needs modifications to make it more portable if you want to support Windows hosts.

And of course you also need `Eigen` built for Windows.

[2016-12-06 07:00] amitdo commented on #115
Is it just the raw pixels of the image with varying width/height?

Yes. it takes raw pixels as input. The width is always 1 and the height is fixed - by default to 48.

[2016-12-06 07:11] amitdo commented on #115
You might want to look at ocropy's lstm.py code, because I think it will be easier to understand. It was written by the same author who wrote clstm.

[2016-12-06 10:44] kba commented on #113
With this project essentially in maintenance mode (@tmbdev is developing a new LSTM/OCR project) I do not think a native windows port is worth the porting/testing effort. But if someone takes the initiative, I will support it.

As @zuphilip mentions, docker is an option, though not the Dockerfile bundled in the repository, which was for testing CUDA/GPU stuff and is outdated. I have an up-to-date

[2016-12-06 11:14] kba commented on #113
Here's the Dockerfile:

[code]

[2016-12-06 12:59] zuphilip commented on #113
Shouldn't we add this Dockerfile as well to the repo and maybe rename the current one?

[2016-12-06 15:29] mittagessen commented on #115
Keras already implements/utilizes LSTM nets (the network architecture) and Connectionist Temporal Classification (the loss function used for training) from both theano and tensorflow. See https://github.com/fchollet/keras/pull/3436 for more details.

The only thing that's not part of keras is the preprocessing of line images, chiefly dewarping (see [lineest.py](https://github.com/tmbdev/ocropy/blo

[2016-12-06 15:32] kba commented on #113
I have them both ("regular" and updated CUDA) in a separate folders. The CUDA deps pull in lots of GUI packages (>4GB image) and there's little benefit, so it's more for curiosity. I'll send a PR.

[2016-12-07 14:49] tmbdev commented on #115
I already have an LSTM-based OCR for TensorFlow that works like CLSTM, but TensorFlow (and by extension, Keras) support for LSTMs is still less than ideal.

[2016-12-07 14:57] Zerithious commented on #115
@tmbdev Can you link to the repo containing the tensorflow code? Did you mean [this?](https://github.com/tmbdev/tfndlstm)

[2016-12-07 17:29] essamgoda opened #118 "install error Ubuntu 16.04"
sudo scons

scons: Reading SConscript files ...
scons: done reading SConscript files.
scons: Building targets ...
g++ --std=c++11 -Wno-unused-result -o clstm.o -c -g -O3 -DEIGEN_NO_DEBUG -DCATCH=catch -DCLSTM_ALL_TENSOR=1 -DNODISPLAY=1 -DTHROW=throw -DTRY=try -I/usr/local/include/eigen3 clstm.cc
g++ --std=c++11 -Wno-unused-result -o ctc.o -c -g -O3 -DEIGEN_NO_DEBUG -DCATCH=catch -DCLSTM_ALL_TENSOR

[2016-12-07 17:49] essamgoda commented on #118
protobuf-compiler was not installed well thanks

[2016-12-07 17:49] #118 closed

[2016-12-08 05:52] tmbdev commented on #115
No, that's a multidimensional add-on to TensorFlow. The LSTM code is experimental and in a bunch of iPython notebooks. I'm working on a Torch version right now, which I think will work better.

[2016-12-19 11:00] #90 closed

[2016-12-27 15:01] BackT0TheFuture commented on #113
I see . thanks

[2017-01-08 08:50] xray1111 opened #119 "a question about CTC implemention"
I noticed that the forward-backword algorithm in ctc implemention has a little difference from Alex's paper: it only consider the previous nearest 2 neighbor nodes when computing the forward variable, while in Alex's paper the including number of neighbor nodes could be 2 or 3, which depends on current node's character (formula 7.16).

Is this because OCR's input sequence is much longer than outpu

[2017-01-08 09:04] xray1111 commented on #119
![ctc](https://cloud.githubusercontent.com/assets/13399784/21748627/73bf9726-d5c4-11e6-9bb6-9324889a1984.PNG)

[2017-01-18 14:40] morusu commented on #85
hi, where is the 2D lstm ? I cannot find the implementation , did i miss someting?

[2017-01-18 15:43] amitdo commented on #85
https://github.com/tmbdev/clstm/blob/master/test-2d.cc

[2017-01-18 15:47] amitdo commented on #85
... and https://github.com/tmbdev/clstm/blob/509144def09c/clstm_prefab.cc#L130

[2017-01-23 06:53] xray1111 opened #120 "how to generate 'clstmtext' command?"
I built the clstm project successfully, but didn't find this command-line tool generated. I'm not familiar with scons building tools, would somebody please help me? Because I'm really interested in how that language-model works in post-processing. Thanks very much!

[2017-01-23 09:10] kba commented on #120
`clstmtext` is a HDF5-based tool, it is in `./OLD` since it will not build with the current setup. We should update the README.

[2017-01-25 04:12] xray1111 commented on #120
@kba May I ask why did this feature be removed? It seems like useful while processing some domain specific documents.

[2017-01-25 07:04] amitdo commented on #120
There are replacements: `clstmfiltertrain` and `clstmfilter`.

[2017-01-25 11:07] xray1111 commented on #120
@amitdo Thank you! Maybe I'll dig into int some day...

[2017-03-09 10:52] abhigarg opened #122 "how to generate multiple outputs for the same input string?"
Is there a way to obtain multiple outputs for the same input string along with their associated probability values? I checked in the code but I could not find where and how one possible solution is discarded and another is retained. I know that for the last character the inputs and outputs for the previous characters are also considered. The forget gate will decide which previous input or its outp

[2017-03-27 14:52] hellbago opened #123 "aligned vs output string"
What's the difference between ALN and OUT string during training procedure?

[2017-03-27 15:00] amitdo commented on #123
Maybe this link will help you:
https://github.com/tmbdev/ocropy/issues/17

[2017-03-29 09:38] wanghaisheng commented on #115
@tmbdev  any progress ?

[2017-04-03 11:02] rayush7 commented on #115
@tmbdev I am also interested in torch or tensorflow/keras based implementation of clstm. Is there any update from your end?

[2017-04-10 14:34] andreabaghini commented on #109
same issue also for me. Any updates about this? Basically what kind of plot one can obtain if it work properly?

[2017-04-18 08:36] chinakook commented on #115
A tensorflow implementation of popular library CLSTM and OCROPY line reader
https://github.com/ferjad/tlstm
Does anyone want to modify the repository to the cudnnLSTM or cudnnPersistentRNN implementation, by which the training could speed up about 6x to 10x times ?

[2017-04-19 09:48] abhigarg commented on #108
I am facing the same problem.

[2017-05-03 21:11] mittagessen opened #126 "segfault when deserializing models from separate_derivs branch"
I haven't really investigated this further as there are other reasons for me not to use the main branch yet (and I really hate C++) but loading models created with the separate_derivs branch causes a segmentation fault in the net_of_proto function in clstm_proto. Here's a stack trace produced from a minimal program (just use clstmocr to reproduce):

[code]

One of the offending model files is [0].

[2017-05-03 21:53] amitdo commented on #126
Did you try this tagged version?
https://github.com/tmbdev/clstm/tree/a588c8

[2017-05-03 23:09] mittagessen commented on #126
That one actually works. I'll do some bisecting tomorrow.

[2017-05-04 12:39] mittagessen commented on #126
The commit introducing the bug seems to be 41c4424f89874164185bfc0bb05c0235c61ca699. It seem to be related to deprecation of the ``name`` attribute. I'll compare some old and new messages next.

[2017-05-04 14:14] pcouderc12 opened #127 "Problem building clstm"
Sorry, I am novice.

I have followed the instructions on stretch (replacing libprotobuf9 with libprotobuf10 ?)  :
sudo apt-get install scons libprotobuf-dev libprotobuf9 protobuf-compiler libpng-dev libeigen3-dev swig

scons
scons install
I have succsfully excuted ./run-tests

But I do not find any clstmocr or any clstm utility

[2017-05-05 11:42] mittagessen commented on #126
The source of all this trouble is a renaming of the layers and weights introduced by the above commit. As it is probably not worth the trouble to drag these legacy layer identifiers along, I'll just write a small utility to reserialize the models I've got to the new format.

[2017-05-05 11:42] #126 closed

[2017-05-07 15:24] kba commented on #127
You mean, after running `scons` in the checked out repository, you do not have `./clstmocr`, `clstmocrtrain` etc.?

If that is the case, then compilation went wrong, please post the output of `scons`.

`scons install` will only install the library and headers, not the command line tools, so you won't have `clstmocr` in your path, that is to be expected. Just run the command line tools from the clo

[2017-05-07 16:51] stweil commented on #127
Build succeeds on Debian Stretch, but `scons install` only installs `/usr/local/include/clstm.h` and `/usr/local/lib/libclstm.a` as @kba said.

[2017-06-08 20:08] christophered opened #129 "Training on top of an existing model"
Hi there,
I am trying to train a new clstm model containing +1000 lines, the training process would take days.
My technique would be to train a couple of hours a day, and continue training the next day, as such.
I created an arabic-8000.clstm model for testing, and added to the script:
`load=arabic-8000.clstm`
`start=8000`

But the problem is that clstmocrtrain starts from 0 all over again.
Waitin

[2017-06-09 04:43] amitdo commented on #129
Please paste here the full commands you used to:

* Train the model
* Load the model

[2017-06-09 05:02] amitdo commented on #129
Which branch/tag are you using? The option to load a model is only supported in the master branch.

[2017-06-09 13:35] ghost commented on #129
@amitdo The train model
[code]

[2017-06-09 13:54] kba commented on #129
@christophered Your "load"/"train" steps are the same script?

Also, you can enclose multi-line code in triple backticks (<code>```</code>) in markdown, like so:

[code]

[2017-06-09 15:15] ghost commented on #129
@kba loading script is similar to the training script except for the last 3 lines
`load=arabic-8000.clstm`
`start=8000`

[2017-06-09 15:22] ghost commented on #129
@amitdo what do you mean? I have the default main clstm installed.

[2017-06-09 22:59] ghost commented on #129
How can I train on top of an existing model, or stop and continue training later?

[2017-06-10 08:14] amitdo commented on #129
Does `test-ocr.sh` pass the test?

[2017-06-13 12:14] ghost commented on #49
@isaomatsunami what was your lrate=? and hidden=?

[2017-06-20 11:46] kjanjua26 opened #130 "core dumped, w != 0 failed"
The error is:
pstring.h:43: std::__cxx11::wstring {anonymous}::utf8_to_utf32(std::__cxx11::string): Assertion `w != 0' failed.
./train.sh: line 17: 13912 Aborted                 (core dumped) ./clstmocrtrain train valid

Any guesses, where could be the error?

[2017-06-21 01:06] ShubhamAgarwal12 opened #131 "Missing last char of the line."
If I train "lstm1" instead of "bidi", it is almost always missing the last character in the output sentence. Is it expected behaviour?

[2017-06-21 05:11] amitdo commented on #131
May I ask why do you train with 'lstm1'?

[2017-06-21 05:14] ShubhamAgarwal12 commented on #131
I need a network which can predict faster. Bidirectional net is very slow.

[2017-06-21 16:36] amitdo commented on #70
This issue has not been fixed yet. Every user of the master branch will suffer from the slowness, unless he/she builds with `debug=-1`.

A fix in SConstruct is needed.

[2017-06-21 16:46] amitdo commented on #131
You can make clstm run >x2 faster!
https://github.com/tmbdev/clstm/issues/70#issuecomment-310135513

[2017-06-21 20:51] ShubhamAgarwal12 commented on #131
Thanks Amit!

[2017-06-24 11:10] christophered opened #132 "270,000 epochs/ ERROR still 1/ OUT is blank"
Peace Be Upon you,
I am training an Arabic model from scratch, reaching about 270,000 epochs in 32 hours, the ERROR is still 1, and the OUT is empty.
The data I used for training is artificial and 100% Arabic, contains no diacritics, is 300 dpi, Times New Roman regular size 18, and I,am sure that the transcription is 100% correct.
How is it that I cannot get anything recognized?

Attached (click-o

[2017-06-24 11:23] ghost commented on #132
[code]

[2017-06-25 17:16] ghost commented on #132
**I found the solution, it seems to be a weird problem**
I removed these lines from the training script, and the problem was solved:
[code]
Therefore, you can run these commands in the terminal, and after they finish executing close the current terminal, then you must open a new terminal and run the training script.
After removing these lines from the training script, and then running the training

[2017-06-30 08:35] christophered opened #133 "Arabic 800,000 model cant go below Error Rate 0.5"
I have been training an Arabic language model from scratch for days now, reaching +800,000 epochs, the error rate wont go below 0.5 and thats very bad.
I have used [artificial training data that I have created](https://github.com/christophered/Arabic-Training-Data/tree/master/Times%20New%20Roman%20300dpi%20segmented), here are there specifications:
Arabic, no diacritics, 300dpi, black and white, 1

[2017-06-30 14:52] amitdo commented on #133
Try to find out where that 0.5 comes from.

Maybe the errors are mostly with dot, comma, and spaces.

[2017-06-30 16:52] zuphilip commented on #133
I would suggest to use `ocropus-econf *.gt.txt` to see the most common confusions, see https://github.com/tmbdev/ocropy/wiki/Compute-errors-and-confusions.

[2017-06-30 18:56] mittagessen commented on #133
The error is almost certainly caused by incorrect ordering of the training data (error will usually hover around 0.6). The code points have to be in display order (i.e. left-to-right) instead of reading order (right-to-left). If you've created them using kraken/ketos run linegen with the ``--reorder`` option to fix this. It doesn't default to this option as the training interface is intended to de

[2017-07-06 12:47] manhcuogntin4 opened #134 "Always missing one character in the output"
I used pyclstm for trainning my dataset on date but the output always missing the character 9. All the rest character is Ok. Hope for help !

[2017-07-06 13:04] kba commented on #134
Can you provide sample images, sample output, what data you trained on, parameters used for training / recognition?

[2017-07-06 13:18] manhcuong-nguyen commented on #134
@kba  thank for your answer !
![10 bin](https://user-images.githubusercontent.com/22500503/27912596-ca71032c-625d-11e7-80da-c53949d35b68.png)
the output of test is 24/07/16
![59 bin](https://user-images.githubusercontent.com/22500503/27912646-eb0cac12-625d-11e7-8cb0-dcdf6bf63db5.png)
the output of test is 0/0/166

And here is my code:

[code]

[2017-07-06 15:47] lomograb commented on #134
Train more = Better result

[2017-07-06 16:06] lomograb opened #135 "Can I use this tool to do scene text detection + recognition ?"
I wonder if I could train the network with pieces of grayscaled image from camera instead of black-in-white document only. Do LSTM has coverage about this case ?

[2017-07-07 04:20] wanghaisheng commented on #135
maybe [this one](https://github.com/bear63/sceneReco) would be helpful

[2017-07-07 13:05] ghost commented on #133
Thanks for your reply,
I am taking all your suggestions, and will work on tracing the error.
keep the issue open

[2017-07-09 10:20] lomograb commented on #135
I just discover that crnn is incredibly slow. It took about 3 seconds per pieces of an image to recognize all the texts. So if I have 10 text boxes in an image, it would take 30~ seconds to finish

[2017-07-13 18:06] #135 closed

[2017-07-13 18:07] lomograb opened #136 "Is it possible to train multiple languages on a one model file ?"

[2017-07-13 21:46] amitdo commented on #136
Yes, but each script should be in a separate line.

[2017-07-14 13:17] amitdo commented on #136
For mixed scripts in the same line see this paper:
https://www.researchgate.net/publication/280777013_A_Sequence_Learning_Approach_for_Multiple_Script_Identification

[2017-07-15 19:07] lomograb commented on #136
Does CLSTM support this (mixed scripts in the same line) ?

[2017-07-16 10:15] amitdo commented on #136
It's not supported out-of-the-box, but you can implement what's described in that paper with clstm.

[2017-07-16 11:34] lomograb commented on #136
Thank you @amitdo for replying and this great project too. Okay, going to close this issue

[2017-07-16 11:34] #136 closed

[2017-07-17 10:07] mittagessen commented on #136
As a note there is a model for doing the script identification exactly as described in the article (arrived upon independently) at [kraken-models](https://github.com/mittagessen/kraken-models/tree/master/clstm/script-detection). It is able to differentiate between Arabic, Syriac, Cyrillic, Greek, Latin, and Fraktur.

[2017-07-20 15:56] #130 closed

[2017-08-01 20:49] samansarraf opened #137 "Error in training uw3-500"
I am getting the following error when using uw3-500 to train my data. The date used in the training are sequence of characters (line-level samples).
Your prompt help is appreciated !

clstmocrtrain: clstm.cc:636: void ocropus::GenericNPLSTM<F, G, H>::backward() [with int F = 1; int G = 2; int H = 2]: Assertion `!anynan(source[t])' failed.
./icrdata_IAM_cmu.sh: line 12:  8267 Aborted

[2017-08-03 21:44] ghost commented on #129
I was using the seperat-derive "legacy" clstm version, it doesn't have save/load options

[2017-08-03 21:44] #129 closed

[2017-08-11 07:22] lomograb opened #138 "clstmocr - error opening clstm file (trained model)"
I have a trained uw3 model which had trained about 4000 iterations. Then, when I execute clstmocr, I face some error:

[code]

Any ideas ?

[2017-09-21 16:10] wrznr commented on #138
No idea yet but a confirmation of your report:
[code]

[2017-09-21 16:33] wrznr commented on #138
Using the absolute path does not help either. @kba Could you please have a look at this? I am pretty sure that this caused by incorrect invocation of `clstmocr`.

[2017-09-21 16:49] kba commented on #138
I don't have a machine to test ATM, hopefully in over the weekend I'll get it back @zuphilip Can you try?

[2017-09-22 07:28] wrznr commented on #138
As I suspected, incorrect invocation. Should have a look at `test-ocr.sh` first: The argument to `clstmocr` has to be a text file containing image paths rather than an image file:
[code]

[2017-09-22 07:28] wrznr commented on #138
@lomograb Can you try and confirm in order to resolve this issue?

[2017-10-04 13:15] lorenzob commented on #108
If this can be of any help to someone, I got the exact same error when I run the clstmocrtrain without the corresponding *.gt.txt files in the image folder.

[2017-10-29 11:27] drdrsh opened #139 "Segmentation fault when running clstmocr on pre-trained model"
I am trying to build clstm on an ubuntu 16.04 machine. My steps of installation are

`sudo apt-get install scons libprotobuf-dev libprotobuf9v5 protobuf-compiler libpng-dev libeigen3-dev swig`
`scons`
`sudo scons install`
`./run_tests`

This has a happy ending where the build succeeds and all tests pass.

Now onto the problem

I start by downloading a pre-trained model and download a random image

[2017-10-29 13:22] Hadi58 opened #140 "Error while using clstm models that I trained and test it !"
Hi !
when I use default clstm models like arabic-beirut-200.clstm model, it's ok and convert successfully:
user@user ~/Desktop/mags $ kraken -i images/tt1.jpg image.txt binarize segment ocr -m arabic-beirut-
200.clstm
Loading RNN default	✓
Binarizing	✓
Segmenting	✓
Processing	✓
Writing recognition results for /tmp/tmpq1EMeq	✓
but when I use any clstm models that I trained and tested them I get:
us

[2017-10-29 15:35] drdrsh commented on #139
I managed to get a debugging environment going and localized the error to `clstmhl.h` line 107

The saved model has a layer of the kind "NPLSTM_SigmoidTanhTanh" and apparently it is not registered with the factory and as such it returns an empty pointer that is then dereferenced causing the crash.

What can I do to address this problem? Should I read the model outside clstm, modify it and reserial

[2017-11-09 02:20] ghost commented on #138
@wrznr you are right. now clstmocr produces values, what do they mean?
[code]

[2017-11-09 10:17] wrznr commented on #138
@christophered I am sorry, but for me it does not produce numbers but rather output text (cf. console output from my post above). If you provide your invocation command, I will try to interpret those numbers.

[2017-11-09 12:03] wrznr commented on #138
@christophered Okay, figured it out. You invoked `clstmocr` with the env variable `conf=1`, i.e.:
[code]
The numbers give you 1. Position in output text, 2. starting pixel (that's a wild guess, @kba Could you pls confirm?), 3. Recognized char (i.e. decimal unicode point), 4. char confidence (i.e. how sure was the system at this point).
If you set `conf=0` (or leave it out), the numbers disappear a

[2017-12-08 17:29] kba commented on #63
Tested, works, thank you!

[2017-12-08 19:11] stweil commented on #109
Where does the mismatched `int` come from? Could we change it to `size_t`?

[2017-12-08 21:49] kba commented on #109
@stweil ~See #110 for `int` -> `size_t`, that fixes the template argument errors.~ *Sorry, did not read that right, yes, `size_t` would probably be the more appropriate type. If you find a proper fix, I'm happy to merge it.*  Getting `display=1` to work requires zeromq (libzqmpp) and running `display_server.py` IIUC.

[2017-12-09 08:21] stweil commented on #109
I can reproduce the problem on Debian Stretch (with libzmq3-dev, libzmq5, libzmqpp-dev and libzmqpp3 packages from Ubuntu), but I'm still searching for the `int` which is mentioned in the error messages. I agree that #110 could work but does not look like the right fix.

[2017-12-09 17:13] #138 closed

[2018-01-07 03:56] moucmou commented on #65
How did you succeed later? I also tried using gpu to speed up training，I also failed！！
![wrong](https://user-images.githubusercontent.com/25379601/34646376-040998ae-f3a1-11e7-9c63-60af43f5adb0.png)
my gpu driver
![driver](https://user-images.githubusercontent.com/25379601/34646379-147ca17c-f3a1-11e7-880b-cdbd2cd2b057.png)
and my cuda
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2017 NV

[2018-01-07 04:05] moucmou opened #142 "I want to use gpu to speed up training model! How do I do, I follow the previous issu to do but failed"
I have used scons & scons install compiled successfully, but unfortunately it did not use gpu,then i use
scons -j 4 gpu=1 clstmocrtrain clstmocr,Prompt me the following error！！
![wrong](https://user-images.githubusercontent.com/25379601/34646376-040998ae-f3a1-11e7-9c63-60af43f5adb0.png)
my gpu driver
![driver](https://user-images.githubusercontent.com/25379601/34646379-147ca17c-f3a1-11e7-880b-cdbd

[2018-01-07 05:58] melody-rain commented on #65
@moucmou  there is no need to use this library any longer. A lot of deep learning frameworks support lstm, which can be used.

[2018-01-07 07:01] amitdo commented on #65
@melody-rain,
You have a typo in your profile page. It should be 'Computer **vision** and deep learning'.

[2018-01-07 07:34] melody-rain commented on #65
@amitdo  Thanks : )

[2018-01-07 09:10] mittagessen commented on #65
@moucmou if you want a mostly out of the box OCR with gpu acceleration you could use @andbue's kraken branch that uses pytorch instead of clstm. IIRC it's performance isn't as it still trains using SGD but to be frank when you do OCR with some hacked-together tensorflow-scripts it probably won't be significantly faster, especially when figuring in compile/model loading times.

[2018-01-12 01:19] #142 closed

[2018-01-29 10:13] loranger opened #143 "error: use of undeclared identifier 'environ'"
Hello,

As I tried to install [Kraken](https://github.com/mittagessen/kraken), I found a bug with the clstm dependency installation.

I tried with Python 3 and Python 2, but the result remains the same.
I use [homebrewed python](https://docs.brew.sh/Homebrew-and-Python.html) on macOS 10.13.3

Here is the output I get while running `pip install clstm`

<details>
  <summary>Output</summary>

[code]

[2018-01-29 10:24] mittagessen commented on #143
Apologies to the maintainers, I've packaged the ``separate-derivs`` branch with the working python bindings to pypi a while ago.

I don't know if clstm works on OSX but I'll look into the error right now and adjust the travis packaging if I get it working somehow

[2018-01-29 10:29] amitdo commented on #143
See #34

[2018-01-29 11:57] mittagessen commented on #143
I've got travis to produce osx builds. Either I'm getting better at the whole CI packaging shebang or the goat sacrifice the last time actually helped. @loranger, give it half an hour or so to build and push the tag to pypi and give it another try.

[2018-01-29 13:14] amitdo commented on #143
What patch(es) did you apply to make it work?
Just the one in #34? @ryanfb patch? @tmbdev suggestion?
Something else?

[2018-01-29 14:55] loranger commented on #143
I've got no more issue regarding the clstm install.
Thanks @mittagessen !

[2018-01-29 14:55] #143 closed

[2018-01-29 15:33] mittagessen commented on #143
I just applied @ryanfb's patch and forced clang to use libc++ instead of libstdc++. As I don't have a OSX machine to test on and debugging changes through travis is not my idea of a fun evening I kept it at that. Have a look at the main branch of ``mittagessen/clstm``; it has some other stop gap changes to make it auto-deploy to pypi through travis and actually built in a single pass with setuptoo

[2018-03-19 20:47] lorenzob opened #144 "How to optimally prepare the data"
Hi, I'd like to know what is the recommended/optimal data preparation for training (and recognition, if different).

For example:
- is it better to use a grayscale image or a binary one?
- is it better to leave some white margins (left/right, top/bottom) or trim tight to the text(*)? In the first case, the "target_height" should include the margin or not?
- does it perform some kind or text straig

[2018-03-20 12:13] Programmer888 opened #145 "Segmentation Fault when running tests"
I downloaded and installed this project from the master-branch-pre-devices-merge release.
I undertook these steps:
[code]
The program says `Segmentation fault (core dumped)` when I run
`./run-cmu`

[2018-03-26 06:46] Programmer888 opened #146 "Inaccurate training"
When I prepare test data like you do for ocropy. I run training with the command
`save_name=models/model test_every=1001 save_every=1000 nhidden=1 display_every=1 report_every=1 clstmocrtrain trainfiles.txt testfiles.txt`
But results are inaccurate even after iteration 160000.
Can anyone tell me what I'm doing wrong?

[2018-03-31 01:07] bugsyb opened #147 "question: clstmocrtrain on GPU"
Great thanks for all superb work!
Trying to run clstmocrtrain on CUDA, doesnt' seem to work.
I've compiled everything with "scons -j7 gpu=1" (I've 8 cores).
No errors were produced (well after all it took me a bit of time to get here, but compilation worked).

Now running gpu=1 clstmocrtrain + rest of parameters seems to occupy CPU only and nothing is shown on GPU.

Question is how to validate if

[2018-03-31 11:20] lorenzob opened #148 "How to make predictions using python code"
Hi, taking [this example](https://github.com/tmbdev/clstm/blob/master/misc/lstm-uw3-py.ipynb) as a reference I wrote the following code:

[code]
This is the image:

![new-22_mcrop8](https://user-images.githubusercontent.com/85481/38162380-77ff75e6-34e0-11e8-9c89-471eeae60cc4.png)

and the expected output is obviously TRENTO.
This is the model:

[model-180000.clstm.zip](https://github.com/tmbdev/cl

[2019-06-26 09:27] tadas-subonis opened #150 "Is there a graphical depiction of the model being used/trained here?"
I would like to see what kind of model clstm uses but it seems I can't to find the structure of it anywhere here.

Any tips/links would be appreciated.

[2019-07-29 13:38] kba commented on #150
clstm is largely obsolete these days, superseded by engines based on frameworks like tensorflow and torch. Apart from digging through the code to and perusing @tmbdev's publications, you won't find much documentation I'm afraid.

[2019-07-29 13:38] #150 closed

[2019-07-29 15:27] amitdo commented on #150
clstm is basically the same as ocropy, but implemented in c++ instead of python.

So the answer is the same:
https://github.com/tmbdev/ocropy/issues/327

[2019-07-29 15:29] tadas-subonis commented on #150
Thanks

On Mon, Jul 29, 2019 at 5:27 PM Amit D. <notifications@github.com> wrote:

--

Kind Regards,
Tadas Šubonis

[2019-07-29 15:31] amitdo commented on #150
https://github.com/tmbdev/ocropy/wiki/Related-Projects

[2019-09-08 07:19] stweil commented on #62
Can this issue be closed?

[2019-09-09 05:10] #62 closed

[2019-11-12 13:54] DissBiscuit commented on #111
@jbaiter sorry to open old closed subjects, but i am currently working on kraken, especially this fraktur model, and i understand you worked on it too ? is it a dead end ? I'm trying to see if it does a better job than tesseract...
the output I get with `kraken -i imagefilename.tif outputfilename.xml binarize segment ocr -a -m fraktur.pronn` on ubuntu python 2.7.15 looks like it's in the wrong for

[2019-11-27 10:18] tazzouza commented on #145
Hi !
Did you find any solution to this problem ? I actually have exactly the same one.

[2020-01-02 15:56] dimiy opened #152 "question"
sorry can you give your email address or where is it convenient for you to chat? I wanted to ask something about the framework and skills.

[2020-01-03 11:37] kba commented on #152
We have a Gitter channel at https://gitter.im/tmbdev/clstm but keep in mind that clstm is not actively developed anymore and most developers have moved to more modern and interoperable NN frameworks.

[2020-01-03 11:37] #152 closed

[2020-01-04 18:07] dimiy commented on #152
Thanks!